.mat-mdc-table {
  background-color: hwb(0 100% 0% / 0.3);
}

.mat-mdc-header-cell {
  background-color: hwb(0 100% 0% / 0) !important;
}

.familydisplay {
  overflow: hidden !important;
  display: flex !important;
}

.familydisplay th {
  background-color: #3d7ffe6e !important;
}

.mat-elevation-z8 {
  overflow: hidden;
  white-space: pre-line;
}

.highlight {
  color: red;
  font-weight: bolder;
}

.highlightgold {
  color: goldenrod;
  font-weight: bolder;
}

.duplicatehighlight {
  text-decoration-line: line-through;
  text-decoration-color: red;
  font-style: italic;
}

.issuescolor {
  color: red;
  font-weight: bolder;
}
.ng-star-inserted {
  position: relative;
  height: auto;
  font-size: 12px;
}
.matoolB {
  flex-direction: row;
  height: 45px !important;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  justify-content: space-between;
  border-radius: 10px !important;
  margin: 4px 4px 4px 60px;
  width: auto;
}

#scndtb {
  height: 38px !important;
  background: unset;
}
.matoolB,
.mat-mdc-paginator {
  table-layout: auto;
  white-space: normal;
  background-color: hwb(0 100% 0% / 0.6);
}
.mat-toolbar-row,
.mat-toolbar-single-row {
  height: fit-content;
  color: #3d3b3b;
  font-size: 28px;
  font-weight: bold;
}
.xlsdl {
  background: none;
  cursor: pointer;
  border: none;
  float: left;
}
#dropzone {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  padding-top: 20%;
  box-sizing: border-box;
  font-size: 25px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.searchField {
  height: 30px !important;
  font-size: smaller;
  margin-bottom: inherit;
}

#search {
  background-color: hwb(0 100% 0% / 0.6);
  border-bottom-style: hidden;
  padding-left: 20px;
  box-shadow: 0 4px 2px -2px gray;
  font-size: 12px;
  border-radius: 10px;
  overflow: hidden;
  font-size: medium;
  float: right;
  height: fit-content;
  margin: 4px 0 0 0;
}
.grey-row {
  color: rgb(138, 138, 138);
}
#childtable {
  display: block;
  border-radius: 10px;
  margin: 1% 0 1% 2%;
  min-width: min-content;
}
.expanded-row {
  font-weight: bold; /* Set the font weight to bold for expanded rows */
}
#detail-row .th {
  background-color: black;
}
.actionicn {
  position: relative !important;
  z-index: 3 !important;
}
.mdc-text-field--no-label:not(.mdc-text-field--outlined):not(
    .mdc-text-field--textarea
  )
  .mat-mdc-form-field-infix
  .mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined) {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.spinner {
  position: fixed;
  top: 30%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.thespinner {
  z-index: 99999;
}
#fabbtn {
  background-color: white;
  width: 25px;
  height: 25px;
}

.toggle {
  float: right;
  color: white;
  font-weight: bolder;
}
.hiddenTB {
  background-color: unset;
  margin: 0 0 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.icon {
  height: 40px;
}
.rstbtn {
  color: antiquewhite;
  font-size: 30px;
  margin-right: 5px;
}
.blocdroit {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  margin-top: 20px;
}
.magicbtn,
.corretbtn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;

  box-shadow: 4px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.magicbtn {
  background-color: #4868e7 !important;
}
.corretbtn {
  background-color: #109b2e !important;
}

.menudrp,
.correcmenudrp {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  min-width: unset;
  width: 30px;
  padding: 0;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.menudrp {
  background-color: #4868e7 !important;
}

.correcmenudrp {
  background-color: #109b2e !important;
}

.magiclist,
.correctlist {
  margin-bottom: 10px;
  margin-top: 7px;
}
.form_container {
  display: flex;
  flex-direction: column;
  margin: 0 5% 0 5%;
}
.tbdTable {
  background-color: rgba(240, 248, 255, 0.301);
  font-weight: bolder;
  color: #3d3b3b;
  text-align: center;
  display: table;
  margin: 0 1rem 0 1rem;
  border-radius: 10px;
}
.detailsContratTable {
  display: grid;
  overflow: hidden;
  border-radius: 10px;
  margin: 1rem auto;
  width: 100%; // Set a specific width
}
.selectSous {
  background-color: rgba(240, 248, 255, 0.301);
  border-radius: 10px;
  text-align: center;
  width: 50rem;
  margin: auto; // Center the element
}
.mat-icon {
  cursor: pointer;
  margin-left: 15px;
}
