<body>
  <div
    id="dropzone"
    (drop)="dropped($event)"
    (dragover)="$event.preventDefault()"
  >
    >>>>>>>> lachez ici ! <<<<<<<<<
  </div>
  <div>
    <mat-toolbar class="matoolB">
      <button
        mat-raised-button
        (click)="fileInput.click()"
        *ngIf="!dataSource || dataSource.data.length === 0"
      >
        Upload
        <input
          #fileInput
          type="file"
          (change)="onFileInputChange($event)"
          style="display: none"
        />
      </button>

      <button
        mat-raised-button
        color="primary"
        (click)="removeExtraSpaces()"
        *ngIf="!(!dataSource || dataSource.data.length === 0)"
      >
        Remove Extra Spaces
      </button>
      <button
        mat-raised-button
        (click)="highlightOldChildren()"
        *ngIf="!(!dataSource || dataSource.data.length === 0)"
      >
        Check Age
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="verifyAndHighlight()"
        *ngIf="!(!dataSource || dataSource.data.length === 0)"
      >
        Verif RIB
      </button>
      <button class="xlsdl" (click)="downloadExcel()">
        <img class="icon" src="assets/xlsicn.png" />
      </button>
    </mat-toolbar>
  </div>
  <DIV class="filter">
    <mat-toolbar class="matoolB">
      <div class="Filters">
        <div class="searchField">
          <input
            id="search"
            matInput
            (keyup)="applyFilter($event)"
            placeholder="Recherche...."
            #input
          />
        </div>
      </div>

      <div *ngIf="totalIssues != 0">
        <button mat-raised-button (click)="addAgeTag()">Ajout +21</button>
        <button id="fabbtn" mat-fab (click)="collapseAll()">
          <mat-icon>keyboard_arrow_up</mat-icon>
        </button>
      </div>

      <div *ngIf="totalIssues != 0">
        <button id="fabbtn" mat-fab (click)="resetIssues()">
          <mat-icon>refresh</mat-icon>
        </button>
      </div>

      <div
        *ngIf="totalIssues != 0"
        [ngClass]="{ issuescolor: totalIssues > 0 }"
      >
        Total des anomalies :
        {{ totalIssues }}
      </div></mat-toolbar
    ></DIV
  >
  <mat-toolbar class="hiddenTB">
    <div *ngIf="totalIssues != 0" class="toggle">
      <mat-slide-toggle
        class="toggle"
        [(ngModel)]="showOnlyIssues"
        (change)="applyFilterByIssues()"
        >Anomalies seulment ?</mat-slide-toggle
      >
    </div>
  </mat-toolbar>
  <div class="form_container">
    <div
      class="mat-elevation-z8"
      *ngIf="dataSource && dataSource.data.length > 0"
      style="border-radius: 10px; overflow: hidden"
    >
      <table
        mat-table
        [dataSource]="dataSource"
        mat-table
        multiTemplateDataRows
      >
        <ng-container matColumnDef="serial">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element">
            <div *ngIf="!element.editable">{{ element.serial }}</div>
            <input
              (click)="$event.stopPropagation()"
              *ngIf="element.editable"
              [(ngModel)]="element.serial"
              style="width: 20px"
            />
          </td>
        </ng-container>

        <ng-container matColumnDef="lienBnf">
          <th mat-header-cell *matHeaderCellDef>Lien</th>
          <td mat-cell *matCellDef="let element">
            <div>{{ element.lienBnf }}</div>
          </td>
        </ng-container>

        <ng-container matColumnDef="nom">
          <th mat-header-cell *matHeaderCellDef>Nom</th>
          <td mat-cell *matCellDef="let element">
            <div *ngIf="!element.editable">{{ element.nom }}</div>
            <input
              *ngIf="element.editable"
              [(ngModel)]="element.nom"
              (click)="$event.stopPropagation()"
            />
          </td>
        </ng-container>

        <ng-container matColumnDef="prenom">
          <th mat-header-cell *matHeaderCellDef>Prénom</th>
          <td mat-cell *matCellDef="let element">
            <div *ngIf="!element.editable">{{ element.prenom }}</div>
            <input
              *ngIf="element.editable"
              [(ngModel)]="element.prenom"
              (click)="$event.stopPropagation()"
            />
          </td>
        </ng-container>

        <ng-container matColumnDef="dateDeNaissance">
          <th mat-header-cell *matHeaderCellDef>Date de Naissance</th>
          <td mat-cell *matCellDef="let element">
            <div *ngIf="!element.editable">
              {{ element.dateDeNaissance | date : "dd/MM/yyyy" }}
            </div>

            <input
              style="width: 65px"
              *ngIf="element.editable"
              matInput
              [ngModel]="
                datePipe.transform(element.dateDeNaissance, 'dd/MM/yyyy')
              "
              (ngModelChange)="element.dateDeNaissance = createDate($event)"
              (click)="$event.stopPropagation()"
            />
          </td>
        </ng-container>

        <ng-container matColumnDef="rib">
          <th mat-header-cell *matHeaderCellDef>RIB</th>
          <td
            mat-cell
            *matCellDef="let element"
            [ngStyle]="{ color: element.highlightRib }"
          >
            <div *ngIf="!element.editable">{{ element.rib }}</div>
            <input
              *ngIf="element.editable"
              [(ngModel)]="element.rib"
              (click)="$event.stopPropagation()"
            />
          </td>
        </ng-container>

        <ng-container matColumnDef="categorie">
          <th mat-header-cell *matHeaderCellDef>Option</th>
          <td mat-cell *matCellDef="let element">
            <div *ngIf="!element.editable">{{ element.categorie }}</div>
            <input
              style="width: 20px"
              *ngIf="element.editable"
              [(ngModel)]="element.categorie"
              (click)="$event.stopPropagation()"
            />
          </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let element">
            <div *ngIf="!element.editable">{{ element.email }}</div>
            <input
              *ngIf="element.editable"
              [(ngModel)]="element.email"
              (click)="$event.stopPropagation()"
            />
          </td>
        </ng-container>
        <ng-container matColumnDef="issues">
          <th mat-header-cell *matHeaderCellDef>issues</th>
          <td
            class="issuesCol"
            mat-cell
            *matCellDef="let element"
            [ngClass]="{ issuescolor: element.issues > 0 }"
          >
            {{ element.issues }}
          </td>
        </ng-container>
        <ng-container matColumnDef="nbrBenef">
          <th mat-header-cell *matHeaderCellDef>Nbr de bénéf</th>
          <td
            mat-cell
            *matCellDef="let element"
            [ngClass]="{ 'grey-row': element.fam_adh.length === 0 }"
          >
            {{ element.nbrBenef || element.fam_adh.length }}
          </td>
        </ng-container>
        <!----------------Main Action buttons----------------->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Édit/Suppr.</th>
          <td mat-cell *matCellDef="let element">
            <div class="actionicn" *ngIf="!element.editable">
              <mat-icon
                style="color: #348bfd"
                (click)="$event.stopPropagation(); toggleEdit(element)"
                >edit</mat-icon
              >
              <mat-icon
                color="warn"
                (click)="$event.stopPropagation(); deleteRow(element.id)"
                >delete</mat-icon
              >
            </div>
            <div *ngIf="element.editable">
              <mat-icon
                style="color: green"
                (click)="$event.stopPropagation(); saveChanges(element)"
                >check</mat-icon
              >
              <mat-icon
                style="color: #348bfd"
                (click)="$event.stopPropagation(); cancelEdit(element)"
                >close</mat-icon
              >
            </div>
          </td>
        </ng-container>

        <!----------------END ------Main Action buttons----------------->

        <ng-container matColumnDef="expandedDetail">
          <td
            mat-cell
            *matCellDef="let element"
            [attr.colspan]="displayedColumns.length"
          >
            <div class="familydisplay" [@detailExpand]="isExpanded(element)">
              <table
                mat-table
                [dataSource]="element.fam_adh"
                class="mat-elevation-z8"
                id="childtable"
              >
                <ng-container matColumnDef="serial">
                  <th mat-header-cell *matHeaderCellDef>No.</th>
                  <td mat-cell *matCellDef="let fam">
                    <div *ngIf="!fam.editable">{{ fam.serial }}</div>
                    <input
                      style="width: 20px"
                      *ngIf="fam.editable"
                      [(ngModel)]="fam.serial"
                    />
                  </td>
                </ng-container>

                <ng-container matColumnDef="lienBnf">
                  <th mat-header-cell *matHeaderCellDef>Lien</th>
                  <td mat-cell *matCellDef="let fam">
                    <div *ngIf="!fam.editable">{{ fam.lienBnf }}</div>
                    <div *ngIf="fam.editable">
                      <select [(ngModel)]="fam.lienBnf">
                        <option *ngFor="let mmbr of benefList" [value]="mmbr">
                          {{ mmbr }}
                        </option>
                      </select>
                    </div>
                  </td>
                </ng-container>
                <ng-container matColumnDef="nom">
                  <th mat-header-cell *matHeaderCellDef>Nom</th>
                  <td mat-cell *matCellDef="let fam">
                    <div *ngIf="!fam.editable">{{ fam.nom }}</div>
                    <input *ngIf="fam.editable" [(ngModel)]="fam.nom" />
                  </td>
                </ng-container>
                <ng-container matColumnDef="prenom">
                  <th mat-header-cell *matHeaderCellDef>Prénom</th>
                  <td mat-cell *matCellDef="let fam">
                    <div
                      [ngClass]="{ highlight: fam.highlight }"
                      *ngIf="!fam.editable"
                    >
                      {{ fam.prenom }}
                    </div>
                    <input *ngIf="fam.editable" [(ngModel)]="fam.prenom" />
                  </td>
                </ng-container>
                <ng-container matColumnDef="dateDeNaissance">
                  <th mat-header-cell *matHeaderCellDef>Date de nais</th>
                  <td mat-cell *matCellDef="let fam">
                    <div
                      [ngClass]="{ highlight: fam.highlight }"
                      *ngIf="!fam.editable"
                    >
                      {{ fam.dateDeNaissance | date : "dd/MM/yyyy" }}
                    </div>
                    <input
                      style="width: 65px"
                      matInput
                      *ngIf="fam.editable"
                      [ngModel]="
                        datePipe.transform(fam.dateDeNaissance, 'dd/MM/yyyy')
                      "
                      (ngModelChange)="fam.dateDeNaissance = createDate($event)"
                    />
                  </td>
                </ng-container>
                <!----------------sub Action buttons----------------->
                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef>Édit/Suppr.</th>
                  <td mat-cell *matCellDef="let fam">
                    <div class="actionicn" *ngIf="!fam.editable">
                      <mat-icon
                        style="color: #348bfd"
                        (click)="toggleFamEdit(fam)"
                        >edit</mat-icon
                      >
                      <mat-icon
                        color="warn"
                        (click)="deleteFamMbr(element.id, fam.id)"
                        >delete</mat-icon
                      >
                    </div>
                    <div *ngIf="fam.editable">
                      <mat-icon
                        style="color: green"
                        (click)="saveFamChanges(fam)"
                        >check</mat-icon
                      >
                      <mat-icon style="color: #348bfd" (click)="cancelEdit(fam)"
                        >close</mat-icon
                      >
                    </div>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="famdisplayedColumns"></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: famdisplayedColumns"
                ></tr>
              </table>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          [ngClass]="{
            'grey-row': row.fam_adh.length === 0,
            'expanded-row': expandedElements.indexOf(row) !== -1
          }"
          (click)="row.fam_adh.length > 0 ? toggleFam(row) : null"
        ></tr>

        <tr
          mat-row
          *matRowDef="let row; columns: ['expandedDetail']"
          id="detail-row"
        ></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            No data matching the filter "{{ input.value }}"
          </td>
        </tr>
      </table>
      <mat-paginator
        [pageSizeOptions]="[15, 30, dataSource.data.length]"
        [pageSize]="pageSize"
        [pageIndex]="page"
        [length]="dataSource.data.length"
        showFirstLastButtons
      >
      </mat-paginator>
    </div>
  </div>
</body>

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="large"
  color="#fff"
  type="ball-scale-multiple"
  [fullScreen]="true"
  ><p style="color: white">Chargement...</p></ngx-spinner
>
