.familydisplay {
  overflow: hidden !important;
  display: flex !important;
}
tr.detail-row {
  height: 0;
}
.mat-elevation-z8 {
  border-radius: 10px;
  overflow: hidden;
  white-space: pre-line;
}
#childtable {
  margin-top: 10px;
}
.highlight {
  color: red;
  font-weight: bolder;
}
.issuescolor {
  background-color: red;
  color: white;
  font-weight: bolder;
}
.ng-star-inserted {
  position: relative;
  height: auto;
}
