.mat-mdc-table {
  background-color: hwb(0 100% 0% / 0.3);
}

.mat-mdc-header-cell {
  background-color: hwb(0 100% 0% / 0) !important;
}

.familydisplay {
  overflow: hidden !important;
  display: flex !important;
}

.familydisplay th {
  background-color: #3d7ffe6e !important;
}

.mat-elevation-z8 {
  overflow: hidden;
  white-space: pre-line;
}

.highlight {
  color: red;
  font-weight: bolder;
}
.issuescolor {
  color: red;
  font-weight: bolder;
}
.ng-star-inserted {
  position: relative;
  height: auto;
  font-size: 12px;
}
.matoolB {
  flex-direction: row;
  height: fit-content;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  justify-content: space-between;
  border-radius: 10px !important;
  margin: 10px 0 10px 0;
}
.matoolB,
.mat-mdc-paginator {
  table-layout: auto;
  white-space: normal;
  background-color: hwb(0 100% 0% / 0.6);
}
.mat-toolbar-row,
.mat-toolbar-single-row {
  height: fit-content;
  color: #3d3b3b;
  font-size: 28px;
  font-weight: bold;
}
.xlsdl {
  background: none;
  cursor: pointer;
  border: none;
  float: left;
}
#dropzone {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  padding-top: 20%;
  box-sizing: border-box;
  font-size: 25px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.searchField {
  display: inline-flex;
  height: 20px !important;
  font-size: smaller;
  margin-bottom: inherit;
}

#search {
  position: fixed;
  background-color: hwb(0 100% 0% / 0.6);
  border-bottom-style: hidden;
  padding-left: 20px;
  box-shadow: 0 4px 2px -2px gray;
  font-size: 12px;
  border-radius: 10px;
  overflow: hidden;
  font-size: medium;
  float: right;
  height: fit-content;
}
.grey-row {
  color: rgb(
    179,
    174,
    174
  ); /* Set the text color to grey for rows with 0 sub-rows */
}
#childtable {
  display: block;
  border-radius: 10px;
  margin: 1% 0 1% 2%;
  min-width: min-content;
}
.expanded-row {
  font-weight: bold; /* Set the font weight to bold for expanded rows */
}
#detail-row .th {
  background-color: black;
}
