<body>
  <div
    id="dropzone"
    (drop)="dropped($event)"
    (dragover)="$event.preventDefault()"
  >
    >>>>>>>> lachez ici ! <<<<<<<<<
  </div>
  <div>
    <mat-toolbar class="matoolB">
      <button
        mat-raised-button
        (click)="fileInput.click()"
        *ngIf="!dataSource || dataSource.data.length === 0"
      >
        Upload
        <input
          #fileInput
          type="file"
          (change)="fileInput.files && ReadExcel(fileInput.files[0])"
          style="display: none"
        />
      </button>

      <button
        mat-raised-button
        color="primary"
        (click)="removeExtraSpaces()"
        *ngIf="!(!dataSource || dataSource.data.length === 0)"
      >
        Remove Extra Spaces
      </button>
      <button
        mat-raised-button
        (click)="highlightOldChildren()"
        *ngIf="!(!dataSource || dataSource.data.length === 0)"
      >
        Check Age
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="verifyAndHighlight()"
        *ngIf="!(!dataSource || dataSource.data.length === 0)"
      >
        Verif RIB
      </button>
      <button class="xlsdl" (click)="downloadExcel()">
        <img class="icon" src="assets/xlsicn.png" />
      </button>
    </mat-toolbar>
  </div>
  <DIV class="filter">
    <mat-toolbar class="matoolB">
      <div class="searchField">
        <input
          id="search"
          matInput
          (keyup)="applyFilter($event)"
          placeholder="Recherche...."
          #input
        />
      </div>
      <div
        *ngIf="totalIssues != 0"
        [ngClass]="{ issuescolor: totalIssues > 0 }"
      >
        Total des anomalies : {{ totalIssues }}
      </div></mat-toolbar
    ></DIV
  >

  <div class="form_container">
    <div
      class="mat-elevation-z8"
      *ngIf="dataSource && dataSource.data.length > 0"
      style="border-radius: 10px; overflow: hidden"
    >
      <table
        mat-table
        [dataSource]="dataSource"
        mat-table
        multiTemplateDataRows
      >
        <ng-container matColumnDef="serial">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element">
            {{ element.serial }}
          </td>
        </ng-container>

        <ng-container matColumnDef="lienBnf">
          <th mat-header-cell *matHeaderCellDef>Lien</th>
          <td mat-cell *matCellDef="let element">
            {{ element.lienBnf }}
          </td>
        </ng-container>

        <ng-container matColumnDef="num">
          <th mat-header-cell *matHeaderCellDef>Matricule</th>
          <td mat-cell *matCellDef="let element">
            {{ element.num }}
          </td>
        </ng-container>

        <ng-container matColumnDef="nom">
          <th mat-header-cell *matHeaderCellDef>Nom</th>
          <td mat-cell *matCellDef="let element">
            {{ element.nom }}
          </td>
        </ng-container>

        <ng-container matColumnDef="prenom">
          <th mat-header-cell *matHeaderCellDef>Prénom</th>
          <td mat-cell *matCellDef="let element">
            {{ element.prenom }}
          </td>
        </ng-container>

        <ng-container matColumnDef="dateDeNaissance">
          <th mat-header-cell *matHeaderCellDef>Date de Naissance</th>
          <td mat-cell *matCellDef="let element">
            {{ element.dateDeNaissance | date : "dd/MM/yyyy" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="rib">
          <th mat-header-cell *matHeaderCellDef>RIB</th>
          <td
            mat-cell
            *matCellDef="let element"
            [ngStyle]="{ color: element.highlightRib }"
          >
            {{ element.rib }}
          </td>
        </ng-container>

        <ng-container matColumnDef="categorie">
          <th mat-header-cell *matHeaderCellDef>Option</th>
          <td mat-cell *matCellDef="let element">
            {{ element.categorie }}
          </td>
        </ng-container>
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let element">
            {{ element.email }}
          </td>
        </ng-container>
        <ng-container matColumnDef="issues">
          <th mat-header-cell *matHeaderCellDef>issues</th>
          <td
            class="issuesCol"
            mat-cell
            *matCellDef="let element"
            [ngClass]="{ issuescolor: element.issues > 0 }"
          >
            {{ element.issues }}
          </td>
        </ng-container>
        <ng-container matColumnDef="nbrBenef">
          <th mat-header-cell *matHeaderCellDef>Nbr de bénéf</th>
          <td
            mat-cell
            *matCellDef="let element"
            [ngClass]="{ 'grey-row': element.fam_adh.length === 0 }"
          >
            {{ element.nbrBenef || element.fam_adh.length }}
          </td>
        </ng-container>
        <ng-container matColumnDef="expandedDetail">
          <td
            mat-cell
            *matCellDef="let element"
            [attr.colspan]="displayedColumns.length"
          >
            <div class="familydisplay" [@detailExpand]="isExpanded(element)">
              <table
                mat-table
                [dataSource]="element.fam_adh"
                class="mat-elevation-z8"
                id="childtable"
              >
                <ng-container matColumnDef="serial">
                  <th mat-header-cell *matHeaderCellDef>No.</th>
                  <td mat-cell *matCellDef="let fam">{{ fam.serial }}</td>
                </ng-container>

                <ng-container matColumnDef="lienBnf">
                  <th mat-header-cell *matHeaderCellDef>Lien</th>
                  <td mat-cell *matCellDef="let fam">{{ fam.lienBnf }}</td>
                </ng-container>

                <ng-container matColumnDef="nom">
                  <th mat-header-cell *matHeaderCellDef>Nom</th>
                  <td mat-cell *matCellDef="let fam">
                    {{ fam.nom }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="prenom">
                  <th mat-header-cell *matHeaderCellDef>Prénom</th>
                  <td
                    mat-cell
                    *matCellDef="let fam"
                    [ngClass]="{ highlight: fam.highlight }"
                  >
                    {{ fam.prenom }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="dateDeNaissance">
                  <th mat-header-cell *matHeaderCellDef>Date de nais</th>
                  <td
                    mat-cell
                    *matCellDef="let fam"
                    [ngClass]="{ highlight: fam.highlight }"
                  >
                    {{ fam.dateDeNaissance | date : "dd/MM/yyyy" }}
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="famdisplayedColumns"></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: famdisplayedColumns"
                ></tr>
              </table>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          [ngClass]="{
            'grey-row': row.fam_adh.length === 0,
            'expanded-row': expandedElements.indexOf(row) !== -1
          }"
          (click)="row.fam_adh.length > 0 ? toggleFam(row) : null"
        ></tr>

        <tr
          mat-row
          *matRowDef="let row; columns: ['expandedDetail']"
          id="detail-row"
        ></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            No data matching the filter "{{ input.value }}"
          </td>
        </tr>
      </table>
      <mat-paginator
        [pageSizeOptions]="[15, 30, 100]"
        [pageSize]="pageSize"
        [pageIndex]="page"
        [length]="dataSource.data.length"
        showFirstLastButtons
      >
      </mat-paginator>
    </div>
  </div>
</body>
