mat-toolbar {
  position: relative;
  margin: -10px, -10px, -10px, -10px;
  height: 30px;
  z-index: 5;
}
.content {
  padding: 20px;
}
mat-sidenav-container {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.09);
  transition: all 500ms ease-in-out;
  height: auto;
  border-radius: 20px;
  overflow-x: hidden;
}

mat-sidenav,
mat-sidenav-content {
  transition: all 500ms ease-in-out;
}
