.content {
  margin: 0 0 0 0;
}

mat-sidenav-container {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.09);
  transition: all 500ms ease-in-out;
  height: auto;
  min-height: 50vh;
  border-radius: 20px;
  overflow-x: hidden;
}

mat-sidenav,
mat-sidenav-content {
  transition: all 500ms ease-in-out;
}
