<body>
  <div class="menudrawer">
    <button
      mat-mini-fab
      [matMenuTriggerFor]="belowMenu"
      class="menudrp"
      color="basic"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <div>
      <mat-menu #belowMenu="matMenu" yPosition="below" class="customMenu">
        <button mat-menu-item [routerLink]="['home']">
          <mat-icon fontIcon="home"></mat-icon>
          Acceuil
        </button>

        <button mat-menu-item [routerLink]="['souscripteurs']">
          <mat-icon fontIcon="business"></mat-icon>
          Souscripteurs
        </button>

        <button mat-menu-item [routerLink]="['adherents']">
          <mat-icon fontIcon="people_alt"></mat-icon>
          Adhérents
        </button>

        <button mat-menu-item [routerLink]="['contrat']">
          <mat-icon fontIcon="assignment"></mat-icon>
          Contrats
        </button>

        <button mat-menu-item [routerLink]="['sinistres']">
          <mat-icon fontIcon="local_hospital"></mat-icon>
          Sinistres
        </button>

        <button mat-menu-item [routerLink]="['paraph']">
          <mat-icon fontIcon="space_dashboard"></mat-icon>
          Parapheur
        </button>

        <button mat-menu-item [routerLink]="['validlist']">
          <mat-icon fontIcon="checklist"></mat-icon>
          Vérif listing
        </button>

        <button mat-menu-item [routerLink]="['verifsin']">
          <mat-icon fontIcon="rule"></mat-icon>
          Vérif Sinistres
        </button>

        <button mat-menu-item [routerLink]="['/mailreports']">
          <mat-icon fontIcon="forum"></mat-icon>
          Suivi des requétes
        </button>
      </mat-menu>
    </div>
  </div>
  <router-outlet></router-outlet>
</body>
