<!--<body>
  <button
    mat-icon-button
    (click)="collapsed.set(!collapsed())"
    style="float: inline-end; margin-right: 15%"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <mat-sidenav-container>
    <mat-sidenav
      mode="over"
      [style.width]="sidenavWidth()"
      style="background-color: hwb(0 100% 0% / 0.6)"
    >
      <app-default-sidenav [collapsed]="collapsed()" />
    </mat-sidenav>
    <mat-sidenav-content class="content" [style.margin-left]="sidenavWidth()">
    </mat-sidenav-content>
  </mat-sidenav-container>
-->
<body>
  <div class="menudrawer">
    <button
      mat-mini-fab
      [matMenuTriggerFor]="belowMenu"
      class="menudrp"
      color="basic"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <div>
      <mat-menu #belowMenu="matMenu" yPosition="below" class="customMenu"
        ><app-default-sidenav />
      </mat-menu>
    </div>
  </div>
  <router-outlet></router-outlet>
</body>
