<body class="adhpage">
  <mat-toolbar class="matoolB">Adherents</mat-toolbar>

  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ex. Ahmed"
      #input
    />
  </mat-form-field>
  <div class="mat-elevation-z8" id="maintable">
    <table mat-table [dataSource]="adhdataSource" matSort multiTemplateDataRows>
      <ng-container matColumnDef="id_adherent">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let elemadh">
          {{ elemadh.id_adherent }}
        </td>
      </ng-container>

      <ng-container matColumnDef="nom_souscript">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Souscripteur</th>
        <td mat-cell *matCellDef="let elemadh">
          {{ elemadh.nom_souscript }}
        </td>
      </ng-container>

      <ng-container matColumnDef="nom_adherent">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
        <td mat-cell *matCellDef="let elemadh">
          <div *ngIf="elemadh.isEdit">
            <input [(ngModel)]="elemadh.nom_adherent" type="text" />
          </div>
          <div *ngIf="!elemadh.isEdit">
            {{ elemadh.nom_adherent | uppercase }}
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="prenom_adherent">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Prenom</th>
        <td mat-cell *matCellDef="let elemadh">
          <div *ngIf="elemadh.isEdit">
            <input [(ngModel)]="elemadh.prenom_adherent" type="text" />
          </div>
          <div *ngIf="!elemadh.isEdit">
            {{ elemadh.prenom_adherent | titlecase }}
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="date_nai_adh">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Date de naissance
        </th>
        <td mat-cell *matCellDef="let elemadh">
          <div *ngIf="elemadh.isEdit">
            <input [(ngModel)]="elemadh.date_nai_adh" matInput />
          </div>
          <div *ngIf="!elemadh.isEdit">
            {{ elemadh.date_nai_adh | date : "dd/MM/yyyy" }}
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="situa_fam">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Situation fam.
        </th>
        <td mat-cell *matCellDef="let elemadh">
          <div *ngIf="elemadh.isEdit">
            <input [(ngModel)]="elemadh.situa_fam" type="text" />
          </div>
          <div *ngIf="!elemadh.isEdit">
            {{ elemadh.situa_fam | titlecase }}
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="rib_adh">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>RIB</th>
        <td mat-cell *matCellDef="let elemadh">
          <div *ngIf="elemadh.isEdit">
            <input [(ngModel)]="elemadh.rib_adh" type="text" />
          </div>
          <div *ngIf="!elemadh.isEdit">
            {{ elemadh.rib_adh }}
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="email_adh">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
        <td mat-cell *matCellDef="let elemadh">
          <div *ngIf="elemadh.isEdit">
            <input [(ngModel)]="elemadh.email_adh" type="email" />
          </div>
          <div *ngIf="!elemadh.isEdit">{{ elemadh.email_adh }}</div>
        </td>
      </ng-container>

      <ng-container matColumnDef="tel_adh">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tel</th>
        <td mat-cell *matCellDef="let elemadh">
          <div *ngIf="elemadh.isEdit">
            <input
              maxlength="13"
              size="12"
              type="tel"
              [(ngModel)]="elemadh.tel_adh"
            />
          </div>
          <div *ngIf="!elemadh.isEdit">{{ elemadh.tel_adh }}</div>
        </td>
      </ng-container>

      <ng-container matColumnDef="statut">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Statut</th>
        <td mat-cell *matCellDef="let elemadh">
          <div *ngIf="elemadh.isEdit">
            <input
              maxlength="13"
              size="12"
              type="tel"
              [(ngModel)]="elemadh.statut"
            />
          </div>
          <div *ngIf="!elemadh.isEdit">{{ elemadh.statut }}</div>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Edit / Supr.</th>
        <td mat-cell *matCellDef="let elemadh">
          <div *ngIf="!elemadh.isEdit">
            <mat-icon
              style="margin: 0; color: #348bfd; cursor: pointer"
              [routerLink]="['/adherents', elemadh.id_adherent]"
              (click)="strteditadh(elemadh)"
              >edit</mat-icon
            >

            <mat-icon
              color="warn"
              style="margin: 0"
              (click)="deleteIDAdh(elemadh.id_adherent)"
              >delete</mat-icon
            >
          </div>
          <!----------------------------ALTERNATE BUTTONS------------------------------->
          <div *ngIf="elemadh.isEdit">
            <mat-icon
              style="
                margin: 0;
                color: green;
                font-weight: bolder;
                cursor: pointer;
              "
              (click)="updateAdhData(elemadh)"
              >check</mat-icon
            >

            <mat-icon
              style="
                margin: 0;
                color: grey;
                font-weight: bolder;
                cursor: pointer;
              "
              (click)="Cancel(elemadh)"
              >close</mat-icon
            >
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td
          mat-cell
          *matCellDef="let element"
          [attr.colspan]="displayedColumns.length"
        >
          <div
            class="familydisplay"
            [@detailExpand]="
              element == expandedElement ? 'expanded' : 'collapsed'
            "
          >
            <table
              mat-table
              [dataSource]="element.fam_adh"
              class="mat-elevation-z8"
              id="childtable"
            >
              <ng-container matColumnDef="lien_benef">
                <th mat-header-cell *matHeaderCellDef>Lien</th>
                <td mat-cell *matCellDef="let fam">{{ fam.lien_benef }}</td>
              </ng-container>
              <ng-container matColumnDef="nom_benef">
                <th mat-header-cell *matHeaderCellDef>Nom</th>
                <td mat-cell *matCellDef="let fam">{{ fam.nom_benef }}</td>
              </ng-container>
              <ng-container matColumnDef="prenom_benef">
                <th mat-header-cell *matHeaderCellDef>Prénom</th>
                <td mat-cell *matCellDef="let fam">{{ fam.prenom_benef }}</td>
              </ng-container>
              <ng-container matColumnDef="date_nai_benef">
                <th mat-header-cell *matHeaderCellDef>Date de naissance</th>
                <td mat-cell *matCellDef="let fam">{{ fam.date_nai_benef }}</td>
              </ng-container>

              <!-- Other columns go here -->

              <tr mat-header-row *matHeaderRowDef="famdisplayedColumns"></tr>
              <tr
                mat-row
                *matRowDef="let row; columns: famdisplayedColumns"
              ></tr>
            </table>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let element; columns: displayedColumns"
        (click)="toggleFam(element)"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: ['expandedDetail']"
        class="detail-row"
      ></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          Pas de résultats pour "{{ input.value }}"
        </td>
      </tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[10, 30, 60, 120]"
      aria-label="Select page of users"
    ></mat-paginator>
  </div>
</body>
