<body>
  <div>
    <mat-toolbar class="matoolB">
      <button mat-raised-button (click)="getNomencl()">Nomenc</button>
      <button mat-raised-button (click)="getSouscript()">souscript</button>
    </mat-toolbar>
  </div>
  <div class="formMaster">
    <mat-card class="Card">
      <mat-card-content>
        <h1 mat-dialog-title>Nouveau contrat</h1>
        <div mat-dialog-content>
          <div class="form_container">
            <form
              style="display: flex; flex-direction: column"
              [formGroup]="contractForm"
            >
              <div class="formPartOne">
                <mat-form-field>
                  <mat-select
                    disableOptionCentering
                    formControlName="selectSouscript"
                    placeholder="Selectionnez un souscripteur"
                    style="font-size: 12px"
                  >
                    <mat-option
                      *ngFor="let element of souscripData"
                      [value]="element.id_souscript"
                    >
                      {{ element.nom_souscript }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field>
                  <input
                    matInput
                    formControlName="num_contrat"
                    placeholder=""
                    required
                    (input)="formatContractNumber($event)"
                    maxlength="19"
                    placeholder="Contrat n°"
                  />
                </mat-form-field>

                <mat-form-field>
                  <input
                    matInput
                    formControlName="date_effet"
                    placeholder="Date d'effet"
                  />
                </mat-form-field>

                <mat-form-field>
                  <input
                    matInput
                    formControlName="date_expir"
                    placeholder="Date d'expiration"
                  />
                </mat-form-field>

                <mat-form-field>
                  <input
                    matInput
                    formControlName="prime"
                    placeholder="Prime net"
                  />
                </mat-form-field>

                <mat-form-field>
                  <mat-select
                    formControlName="option"
                    placeholder="Option"
                    style="font-size: 12px"
                  >
                    <mat-option
                      *ngFor="let element of option"
                      [value]="element"
                    >
                      {{ element }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <DIV class="matSelect">
                <mat-select
                  disableOptionCentering
                  formControlName="selectedNomncList"
                  placeholder="Selectionnez les garanties"
                  multiple
                >
                  <div class="listBox">
                    <mat-optgroup
                      style="font-size: 20px; font-weight: bolder"
                      *ngFor="let nomenclatureItem of nomenclature"
                      [label]="nomenclatureItem.category"
                    >
                      <mat-option
                        *ngFor="let item of nomenclatureItem.items"
                        [value]="item"
                      >
                        {{ item.code_garantie }} : {{ item.garantie_describ }}
                      </mat-option>
                    </mat-optgroup>
                  </div>
                </mat-select></DIV
              >

              <!----------------------------FORM PART 2------------------------------------------------------->
              <div class="dynamicForm" formArrayName="dynamicForm">
                <div
                  *ngFor="
                    let contractRow of dynamicFormArray.controls;
                    let i = index
                  "
                  [formGroupName]="i"
                >
                  <mat-form-field>
                    <input
                      matInput
                      formControlName="garantie"
                      placeholder="Garantie"
                      style="font-weight: bold"
                    />
                  </mat-form-field>
                  <mat-form-field>
                    <input
                      matInput
                      formControlName="limit_plan"
                      placeholder="Limite du plan"
                    />
                  </mat-form-field>
                  <mat-form-field>
                    <input
                      matInput
                      formControlName="applied_on"
                      placeholder="Garantie par.."
                    />
                  </mat-form-field>
                  <mat-form-field>
                    <input
                      matInput
                      formControlName="taux_rbt"
                      placeholder="Taux remboursé"
                    />
                  </mat-form-field>
                  <mat-form-field>
                    <input
                      matInput
                      formControlName="limit_gar"
                      placeholder="Plafond"
                    />
                  </mat-form-field>
                  <mat-form-field>
                    <input
                      matInput
                      formControlName="limit_gar_describ"
                      placeholder="Déscription"
                    />
                  </mat-form-field>
                  <mat-form-field>
                    <input
                      type="number"
                      matInput
                      formControlName="nbr_of_unit"
                      placeholder="Nombre d'unité"
                    />
                  </mat-form-field>
                  <mat-form-field>
                    <input
                      matInput
                      formControlName="unit_value"
                      placeholder="Valeur par unité"
                    />
                  </mat-form-field>
                </div>
              </div>
            </form>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</body>
