<body>
  <div>
    <mat-toolbar class="matoolB">
      <button mat-raised-button (click)="getNomencl()">Nomenc</button>
      <button mat-raised-button (click)="getSouscript()">souscript</button>
    </mat-toolbar>
  </div>
  <div class="formMaster">
    <mat-card>
      <mat-card-content>
        <h1 mat-dialog-title>Nouveau contrat</h1>
        <div mat-dialog-content>
          <div class="form_container">
            <form
              style="display: flex; flex-direction: column"
              [formGroup]="contractForm"
            >
              <mat-form-field>
                <mat-label>Souscripteur</mat-label>
                <mat-select
                  disableOptionCentering
                  formControlName="selectSouscript"
                >
                  <mat-option
                    *ngFor="let element of souscripData"
                    [value]="element.id_souscript"
                  >
                    {{ element.nom_souscript }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Contrat n°</mat-label>
                <input
                  matInput
                  formControlName="num_contrat"
                  placeholder=""
                  required
                  (input)="formatContractNumber($event)"
                  maxlength="19"
                />
              </mat-form-field>

              <mat-form-field>
                <mat-label>Date d'effet</mat-label>
                <input matInput formControlName="date_effet" placeholder="" />
              </mat-form-field>

              <mat-form-field>
                <mat-label>Date d'expiration</mat-label>
                <input matInput formControlName="date_expir" placeholder="" />
              </mat-form-field>

              <mat-form-field>
                <mat-label>Prime net</mat-label>
                <input matInput formControlName="prime" placeholder="" />
              </mat-form-field>

              <mat-form-field>
                <mat-label>Option</mat-label>
                <mat-select formControlName="option">
                  <mat-option *ngFor="let element of option" [value]="element">
                    {{ element }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <DIV class="matSelect">
                <mat-select
                  disableOptionCentering
                  formControlName="selectedNomncList"
                  placeholder="Selectionnez les garanties"
                  multiple
                >
                  <div class="listBox">
                    <mat-optgroup
                      style="font-size: 20px; font-weight: bolder"
                      *ngFor="let nomenclatureItem of nomenclature"
                      [label]="nomenclatureItem.category"
                    >
                      <mat-option
                        *ngFor="let item of nomenclatureItem.items"
                        [value]="item"
                      >
                        {{ item.code_garantie }} : {{ item.garantie_describ }}
                      </mat-option>
                    </mat-optgroup>
                  </div>
                </mat-select></DIV
              >

              <!----------------------------FORM PART 2------------------------------------------------------->
              <div class="dynamicForm" formArrayName="dynamicForm">
                <div
                  *ngFor="
                    let contractRow of dynamicFormArray.controls;
                    let i = index
                  "
                  [formGroupName]="i"
                >
                  <mat-form-field>
                    <mat-label>Garantie</mat-label>
                    <input matInput formControlName="garantie" placeholder="" />
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Limite du plan</mat-label>
                    <input
                      matInput
                      formControlName="limit_plan"
                      placeholder=""
                    />
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Garantie par..</mat-label>
                    <input
                      matInput
                      formControlName="applied_on"
                      placeholder=""
                    />
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Taux remboursé</mat-label>
                    <input matInput formControlName="taux_rbt" placeholder="" />
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Plafond</mat-label>
                    <input
                      matInput
                      formControlName="limit_gar"
                      placeholder=""
                    />
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Déscription</mat-label>
                    <input
                      matInput
                      formControlName="limit_gar_describ"
                      placeholder=""
                    />
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Nombre d'unité</mat-label>
                    <input
                      matInput
                      formControlName="nbr_of_unit"
                      placeholder=""
                    />
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Valeur par unité</mat-label>
                    <input
                      matInput
                      formControlName="unit_value"
                      placeholder=""
                    />
                  </mat-form-field>
                </div>
              </div>
            </form>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</body>
