<div>
  <mat-toolbar class="matoolB"> Suivi des consommations sur 2 ans</mat-toolbar>

  <!--<button
    style="border-radius: 20px; width: 100px; height: 35px"
    mat-raised-button
    (click)="fileInput.click()"
  >
    Charger
    <input
      #fileInput
      type="file"
      (change)="onFileSelected($event)"
      style="display: none"
    />
  </button>-->
</div>
<mat-accordion class="accordion" dynamicHeight>
  <mat-expansion-panel
    class="expPanel"
    showToggle
    [expanded]="true"
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header style="padding: 1rem">
      <mat-panel-title style="max-width: 15rem">
        @if(panelOpenState){}@else{
        {{ selectedSousTitle }}
        }
      </mat-panel-title>
      <mat-panel-description>
        @if(panelOpenState){ }@else{
        <div [hidden]="!cycleDataSource">
          <ng-container
            *ngTemplateOutlet="conditionTable"
            aria-colspan="5"
          ></ng-container>
        </div>
        }
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div style="display: flex; justify-content: center">
      <div class="upperBlock">
        <div class="selectSous">
          <div class="Add">
            <button
              mat-mini-fab
              style="background-color: antiquewhite"
              (click)="openSousDialog()"
            >
              <mat-icon fontIcon="add" style="color: green"></mat-icon>
            </button>
          </div>
          <div class="form">
            <mat-form-field style="overflow: hidden">
              <mat-select
                placeholder="Souscripteur"
                style="font-size: 12px"
                (click)="getPromisedSous()"
                (selectionChange)="onSousSelectionChange($event)"
              >
                <mat-option *ngIf="isLoading" disabled>
                  <mat-progress-spinner
                    mode="indeterminate"
                    diameter="20"
                  ></mat-progress-spinner>
                  Chargement...
                </mat-option>

                <mat-option>
                  <ngx-mat-select-search
                    [formControl]="souscripFilterCtrl"
                    placeholderLabel="Recherche"
                    noEntriesFoundLabel="Aucun acte trouvé....."
                  ></ngx-mat-select-search
                ></mat-option>
                <mat-option
                  *ngFor="let element of filtredSouscripteurs"
                  [value]="element.id_souscript"
                  [disabled]="isLoading"
                  style="font-size: 12px; min-height: 2rem"
                >
                  {{ element.nom_souscript }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="selectCycle">
          <div class="Add">
            <button
              mat-mini-fab
              style="background-color: antiquewhite"
              (click)="openCycleDialog()"
            >
              <mat-icon fontIcon="add" style="color: green"></mat-icon>
            </button>
          </div>

          <div class="Cycleform">
            <mat-form-field style="overflow: hidden">
              <mat-select
                placeholder="Cycle"
                style="font-size: 12px"
                (click)="selectedIdSous && getCycle(selectedIdSous)"
                (selectionChange)="onCycleSelectionChange($event)"
              >
                <mat-option *ngIf="isLoading" disabled>
                  <mat-progress-spinner
                    mode="indeterminate"
                    diameter="20"
                  ></mat-progress-spinner>
                  Chargement...
                </mat-option>

                <mat-option
                  *ngFor="let element of cycleData"
                  [value]="element.id_cycle"
                  [disabled]="isLoading"
                  style="font-size: 12px; min-height: 2rem"
                >
                  {{ element.cycle }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="CycleTable" [hidden]="!cycleDataSource">
          <table
            mat-table
            [dataSource]="cycleDataSource"
            style="overflow: hidden; border-radius: 10px"
          >
            <ng-container matColumnDef="cycle">
              <th mat-header-cell *matHeaderCellDef>Cycle</th>

              <td
                mat-cell
                *matCellDef="let element"
                style="max-width: 7rem; min-width: 7rem; width: 7rem"
              >
                <div *ngIf="element.isEdit">
                  <input
                    mat-input
                    [(ngModel)]="element.cycle"
                    maxlength="9"
                    minlength="9"
                    style="max-width: 5rem; min-width: 5rem; width: 5rem"
                  />
                </div>
                <div *ngIf="!element.isEdit">{{ element.cycle }}</div>
              </td>
            </ng-container>

            <ng-container matColumnDef="date_start">
              <th mat-header-cell *matHeaderCellDef>Début</th>
              <td
                mat-cell
                *matCellDef="let element"
                style="max-width: 10rem; min-width: 10rem; width: 10rem"
              >
                <div
                  *ngIf="element.isEdit"
                  style="
                    max-width: 8rem;
                    min-width: 8rem;
                    width: 8rem;
                    display: inline-flex;
                    gap: 1rem;
                  "
                >
                  <div style="margin: auto">
                    <input
                      style="max-width: 5rem; min-width: 5rem; width: 5rem"
                      [(ngModel)]="element.date_start"
                      matInput
                      [matDatepicker]="picker"
                    />
                  </div>
                  <div>
                    <mat-datepicker-toggle matIconSuffix [for]="picker">
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </div>
                </div>
                <div *ngIf="!element.isEdit">
                  {{ element.date_start | date : "dd/MM/yyyy" }}
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="date_end">
              <th mat-header-cell *matHeaderCellDef>Fin</th>
              <td
                mat-cell
                *matCellDef="let element"
                style="max-width: 10rem; min-width: 10rem; width: 10rem"
              >
                <div
                  *ngIf="element.isEdit"
                  style="
                    max-width: 8rem;
                    min-width: 8rem;
                    width: 8rem;
                    display: inline-flex;
                    gap: 1rem;
                  "
                >
                  <div style="margin: auto">
                    <input
                      style="max-width: 5rem; min-width: 5rem; width: 5rem"
                      [(ngModel)]="element.date_end"
                      matInput
                      [matDatepicker]="picker"
                    />
                  </div>
                  <div>
                    <mat-datepicker-toggle matIconSuffix [for]="picker">
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </div>
                </div>
                <div *ngIf="!element.isEdit">
                  {{ element.date_end | date : "dd/MM/yyyy" }}
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="contrat_start">
              <th mat-header-cell *matHeaderCellDef>Contrat début</th>
              <td
                mat-cell
                *matCellDef="let element"
                style="max-width: 11rem; min-width: 11rem; width: 11rem"
              >
                <div *ngIf="element.isEdit">
                  <input
                    mat-input
                    [(ngModel)]="element.contrat_start"
                    maxlength="19"
                    minlength="19"
                    style="max-width: 9rem; min-width: 9rem; width: 9rem"
                  />
                </div>

                <div *ngIf="!element.isEdit">{{ element.contrat_start }}</div>
              </td>
            </ng-container>

            <ng-container matColumnDef="contrat_end">
              <th mat-header-cell *matHeaderCellDef>Contrat fin</th>
              <td
                mat-cell
                *matCellDef="let element"
                style="max-width: 11rem; min-width: 11rem; width: 11rem"
              >
                <div *ngIf="element.isEdit">
                  <input
                    mat-input
                    [(ngModel)]="element.contrat_end"
                    maxlength="19"
                    minlength="19"
                    style="max-width: 9rem; min-width: 9rem; width: 9rem"
                  />
                </div>
                <div *ngIf="!element.isEdit">{{ element.contrat_end }}</div>
              </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>Suppr./Édit.</th>
              <td mat-cell *matCellDef="let element">
                <div *ngIf="!element.isEdit" class="ActionBtns">
                  <mat-icon
                    color="primary"
                    fontIcon="edit"
                    style="cursor: pointer; font-weight: bolder"
                    (click)="startEdit(element)"
                  ></mat-icon>
                  <mat-icon
                    color="warn"
                    fontIcon="delete"
                    style="cursor: pointer"
                    (click)="selectedIdCycle && deleteCycle(selectedIdCycle)"
                  ></mat-icon>
                </div>
                <div *ngIf="element.isEdit" class="ActionBtns">
                  <mat-icon
                    style="
                      margin: 0;
                      color: green;
                      font-weight: bolder;
                      cursor: pointer;
                    "
                    (click)="
                      updateCycle(element.id_cycle, element);
                      $event.stopPropagation()
                    "
                    >check</mat-icon
                  >

                  <mat-icon
                    color="primary"
                    fontIcon="close"
                    style="cursor: pointer; font-weight: bolder"
                    (click)="cancelEdit(element)"
                  ></mat-icon>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="cycleDisplayedColumns"></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: cycleDisplayedColumns"
            ></tr>
          </table>
        </div>
      </div>
    </div>

    <!--__________________________________________________________________________________
  ____________________________________________________________________________________
  ____________________________________ CONDITIONS _________________________________
  ____________________________________________________________________________________
  _________________________________________________________________________________-->

    <div [hidden]="!cycleDataSource">
      <div class="garanties">
        <div class="Add">
          <button
            mat-mini-fab
            style="background-color: antiquewhite"
            (click)="openConditionsDialog()"
          >
            <mat-icon fontIcon="add" style="color: green"></mat-icon>
          </button>
        </div>

        <div class="display_Contrat">
          <ng-template #conditionTable>
            <table
              mat-table
              [dataSource]="conditionsDataSource"
              style="overflow: hidden; border-radius: 10px"
            >
              <ng-container matColumnDef="idx">
                <th mat-header-cell *matHeaderCellDef>N°</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.idx }}
                </td>
              </ng-container>

              <ng-container matColumnDef="garantie">
                <th mat-header-cell *matHeaderCellDef>Garantie</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.code_garantie }} :
                  {{ element.garantie_describ }}
                </td>
              </ng-container>
              <ng-container matColumnDef="applied_on">
                <th mat-header-cell *matHeaderCellDef>Par</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.applied_on }}
                </td>
              </ng-container>
              <ng-container matColumnDef="taux_rbt">
                <th mat-header-cell *matHeaderCellDef>Taux</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.taux_rbt }} %
                </td>
              </ng-container>
              <ng-container matColumnDef="limit_gar">
                <th mat-header-cell *matHeaderCellDef>Plafond</th>
                <td mat-cell *matCellDef="let element">
                  <span *ngIf="element.unit_value; else empty">
                    {{ element.limit_gar | number : "1.2-2" }}
                  </span>
                  <ng-template #empty>
                    <span style="color: grey">Aucun</span>
                  </ng-template>
                </td>
              </ng-container>
              <ng-container matColumnDef="limit_gar_describ">
                <th mat-header-cell *matHeaderCellDef>Déscription</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.limit_gar_describ }}
                </td>
              </ng-container>
              <ng-container matColumnDef="nbr_of_unit">
                <th mat-header-cell *matHeaderCellDef>Nbr unit.</th>
                <td mat-cell *matCellDef="let element">
                  <span *ngIf="element.unit_value; else empty">
                    {{ element.nbr_of_unit }}
                  </span>
                  <ng-template #empty>
                    <span style="color: grey">Aucun</span>
                  </ng-template>
                </td>
              </ng-container>
              <ng-container matColumnDef="unit_value">
                <th mat-header-cell *matHeaderCellDef>Valeur/Unit.</th>
                <td mat-cell *matCellDef="let element">
                  <span *ngIf="element.unit_value; else empty">
                    {{ element.unit_value | number : "1.2-2" }} / Unit.
                  </span>
                  <ng-template #empty>
                    <span style="color: grey">Aucun</span>
                  </ng-template>
                </td>
              </ng-container>

              <ng-container
                matColumnDef="actions"
                [class.hidden]="!panelOpenState"
              >
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  [class.hidden]="!panelOpenState"
                >
                  Suppr./Édit.
                </th>
                <td
                  mat-cell
                  *matCellDef="let element"
                  [class.hidden]="!panelOpenState"
                >
                  <div class="ActionBtns">
                    <div>
                      <mat-icon
                        style="cursor: pointer"
                        fontIcon="edit"
                        color="primary"
                        (click)="openConditionsDialogToEdit(element)"
                      ></mat-icon>
                    </div>
                    <div>
                      <mat-icon
                        style="cursor: pointer"
                        color="warn"
                        (click)="deleteCondition(element.id_couv)"
                        fontIcon="delete"
                      ></mat-icon>
                    </div>
                  </div>
                </td>
              </ng-container>

              <tr
                mat-header-row
                *matHeaderRowDef="conditionsDisplayedColumns"
              ></tr>
              <tr
                mat-row
                *matRowDef="let row; columns: conditionsDisplayedColumns"
              ></tr>
            </table>
          </ng-template>
          <ng-container *ngTemplateOutlet="conditionTable"></ng-container>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>

<!--__________________________________________________________________________________
  ____________________________________________________________________________________
  ____________________________________ CONSOMMATIONS _________________________________
  ____________________________________________________________________________________
  _________________________________________________________________________________-->

<div>
  <div [hidden]="!cycleDataSource" style="margin-bottom: 1rem">
    <button
      style="border-radius: 20px; width: 100px; height: 35px"
      mat-raised-button
      (click)="fileInput.click()"
    >
      Upload
      <input
        #fileInput
        type="file"
        (change)="handleFile(fileInput.files)"
        style="display: none"
      />
    </button>
  </div>

  <div [class.hidden]="!consoDataSource.data.length">
    <div style="overflow: hidden; border-radius: 10px">
      <table mat-table [dataSource]="consoDataSource">
        <ng-container matColumnDef="idx">
          <th mat-header-cell *matHeaderCellDef>N°</th>
          <td mat-cell *matCellDef="let element; let i = index">
            {{ paginator.pageIndex * paginator.pageSize + i + 1 }}
          </td>
        </ng-container>

        <ng-container matColumnDef="nom_adherent">
          <th mat-header-cell *matHeaderCellDef>Nom</th>
          <td mat-cell *matCellDef="let element">{{ element.nom_adherent }}</td>
        </ng-container>

        <ng-container matColumnDef="prenom_adherent">
          <th mat-header-cell *matHeaderCellDef>Prénom</th>
          <td mat-cell *matCellDef="let element">
            {{ element.prenom_adherent }}
          </td>
        </ng-container>

        <ng-container matColumnDef="lien">
          <th mat-header-cell *matHeaderCellDef>Lien</th>
          <td mat-cell *matCellDef="let element">{{ element.lien }}</td>
        </ng-container>

        <ng-container matColumnDef="prenom_lien">
          <th mat-header-cell *matHeaderCellDef>Prénom</th>
          <td mat-cell *matCellDef="let element">{{ element.prenom_lien }}</td>
        </ng-container>

        <ng-container matColumnDef="date_sin">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let element">
            {{ element.date_sin | date : "dd/MM/yyyy" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="garantie">
          <th mat-header-cell *matHeaderCellDef>Garantie</th>
          <td mat-cell *matCellDef="let element">
            {{ element.code_garantie }} : {{ element.garantie_describ }}
          </td>
        </ng-container>

        <ng-container matColumnDef="frais_expo">
          <th mat-header-cell *matHeaderCellDef>Frais éxpo.</th>
          <td mat-cell *matCellDef="let element">{{ element.frais_expo }}</td>
        </ng-container>

        <ng-container matColumnDef="rbt_sin">
          <th mat-header-cell *matHeaderCellDef>Remb.</th>
          <td mat-cell *matCellDef="let element">{{ element.rbt_sin }}</td>
        </ng-container>

        <ng-container matColumnDef="restant">
          <th mat-header-cell *matHeaderCellDef>Restant</th>
          <td mat-cell *matCellDef="let element">{{ element.restant }}</td>
        </ng-container>

        <ng-container matColumnDef="forced">
          <th mat-header-cell *matHeaderCellDef>Forcée ?</th>
          <td mat-cell *matCellDef="let element">{{ element.forced }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Suppr./Édit.</th>
          <td mat-cell *matCellDef="let element"></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="SinDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: SinDisplayedColumns"></tr>
      </table>

      <mat-paginator
        #paginator
        [pageSizeOptions]="[15, 30, 60, 120]"
        aria-label="Select page of users"
      ></mat-paginator>
    </div>
  </div>
</div>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="large"
  color="#fff"
  type="ball-scale-multiple"
  [fullScreen]="true"
  ><p style="color: white">Chargement...</p></ngx-spinner
>
