<mat-toolbar class="matoolB">
  <h1 style="font-size: 28px">Sinistres</h1>

  <button (click)="test()"></button>
</mat-toolbar>
<div style="margin: 0.5rem 0 4rem 0">
  <mat-toolbar class="hiddenTB">
    <div class="selectSous">
      <mat-form-field style="overflow: hidden">
        <mat-select
          placeholder="Selectionez un contrat"
          style="
            font-size: 16px;
            font-weight: bolder;

            margin-bottom: 8px;
          "
          (click)="getcontrats()"
          (valueChanges)="filterContrats()"
          (selectionChange)="onContratSelectionChange($event)"
        >
          <mat-option *ngIf="isLoading" disabled style="width: 25 rem">
            <mat-spinner diameter="20"></mat-spinner>
            Chargement...
          </mat-option>

          <mat-option>
            <ngx-mat-select-search
              [formControl]="contratFilterCtrl"
              placeholderLabel="Recherche"
              noEntriesFoundLabel="Aucun acte trouvé....."
            ></ngx-mat-select-search
          ></mat-option>

          <mat-option
            *ngFor="let element of filteredContrats"
            [value]="element.id_contrat"
            [disabled]="isLoading"
          >
            {{ element.nom_souscript }} :
            {{ element.num_contrat }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="selectedContratTable" *ngIf="selectedContrat" [@fadeInOut]>
        <div class="content">
          <table class="detailsContratTable">
            <tbody class="tbdTable">
              <tr>
                <td>
                  Date d'effet :
                  {{ selectedContrat.date_effet | date : "dd/MM/yyyy" }}
                </td>
                <td>
                  Date d'échéance :
                  {{ selectedContrat.date_exp | date : "dd/MM/yyyy" }}
                </td>
                <td>
                  Prime net :
                  {{ selectedContrat.prime_total | number : "1.2-2" }}
                  DA
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </mat-toolbar>
</div>

<!--___________________________________________________________________________________________________________________-->
<!--_____________________________________________________FORMULAIRE____________________________________________________-->
<!--___________________________________________________________________________________________________________________-->
<div>
  <mat-toolbar class="declaTB">
    <div class="buttons">
      <mat-icon color="warn" (click)="resetForm()">refresh</mat-icon>
    </div>
    <div class="form_container">
      <form [formGroup]="dptsinForm">
        <mat-form-field style="width: 15rem">
          <mat-select
            #matRef1
            placeholder="Selectionez un(e) Assuré(e)"
            style="
              font-size: 12px;
              font-weight: bolder;

              margin-bottom: 8px;
            "
            (click)="selectedIdSous && getadhbysousid(selectedIdSous)"
            (selectionChange)="onAdhSelectChange($event)"
          >
            <mat-option *ngIf="isLoading" disabled>
              <mat-progress-spinner
                mode="indeterminate"
                diameter="20"
              ></mat-progress-spinner>
              Chargement...
            </mat-option>

            <mat-option>
              <ngx-mat-select-search
                [formControl]="adherentFilterCtrl"
                placeholderLabel="Recherche"
                noEntriesFoundLabel="Aucun acte trouvé....."
              ></ngx-mat-select-search
            ></mat-option>
            <mat-option
              *ngFor="let element of filteredAdherents"
              [value]="element.id_adherent"
              [disabled]="
                element.nom_adherent === 'Aucun adhérent trouvé' || isLoading
              "
              style="min-height: 2rem"
            >
              {{ element.nom_adherent }} {{ element.prenom_adherent }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field style="width: 15rem">
          <mat-select
            #matRef2
            placeholder="Selectionez un bénéficiaire"
            style="
              font-size: 12px;
              font-weight: bolder;

              margin-bottom: 8px;
            "
            (click)="selectedIdAdh && getFamily(selectedIdAdh)"
            (selectionChange)="onFamSelectionChange($event)"
          >
            <mat-option *ngIf="isLoading" disabled>
              <mat-progress-spinner
                mode="indeterminate"
                diameter="20"
              ></mat-progress-spinner>
              Chargement...
            </mat-option>
            <mat-option
              *ngFor="let element of fam_Data"
              [value]="element.id_fam"
              [disabled]="
                element.lien_benef === 'Aucun bénéficiaire enregistré' ||
                isLoading
              "
              style="min-height: 2rem"
            >
              {{ element.lien_benef }} :
              {{ element.prenom_benef }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field style="width: 8rem">
          <input
            formControlName="date_sin"
            matInput
            type="Date"
            placeholder="Date sin."
            appDateFormat
          />
        </mat-form-field>

        <mat-form-field style="width: 25rem">
          <mat-select
            #matRef3
            placeholder="Selectionez un acte"
            style="
              font-size: 12px;
              font-weight: bolder;

              margin-bottom: 8px;
            "
            (click)="selectedIdOpt && getAdhNomencl(selectedIdOpt)"
            (selectionChange)="onNomenclSelectionChange($event)"
          >
            <mat-option *ngIf="isLoading" disabled>
              <mat-progress-spinner
                mode="indeterminate"
                diameter="20"
              ></mat-progress-spinner>
              Chargement...
            </mat-option>
            <mat-option>
              <ngx-mat-select-search
                [formControl]="fmpFilterCtrl"
                placeholderLabel="Recherche"
                noEntriesFoundLabel="Aucun acte trouvé....."
              ></ngx-mat-select-search
            ></mat-option>
            <mat-option
              *ngFor="let element of filteredFmp | async"
              [value]="element.id_nomencl"
              [disabled]="isLoading"
              style="min-height: 2rem; text-align: nowrap; font-size: 12px"
            >
              {{ element.code_garantie }} :
              {{ CharLimit(element.garantie_describ, 40) | uppercase }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field style="width: 6rem">
          <input
            formControlName="frais_sin"
            matInput
            placeholder="Frais éxpo."
          />
        </mat-form-field>

        <mat-form-field style="width: 6rem">
          <input formControlName="rbt_sin" matInput placeholder="Remb." />
        </mat-form-field>

        <mat-form-field style="width: 4rem">
          <input formControlName="nbr_unit" matInput placeholder="Unité" />
        </mat-form-field>

        <mat-form-field style="width: 15rem">
          <input formControlName="obs_sin" matInput placeholder="Observ." />
        </mat-form-field>

        <mat-slide-toggle formControlName="forced" style="margin-left: 1rem">
          Forcer ?
        </mat-slide-toggle>
      </form>
    </div>

    <div>
      <button mat-mini-fab color="primary" (click)="sumbitSinForm()">
        <mat-icon color="basic">check</mat-icon>
      </button>
    </div>
  </mat-toolbar>
</div>
<!--___________________________________________________________________________________________________________________-->
<!--________________________________________________TABLE______________________________________________________________-->
<!--___________________________________________________________________________________________________________________-->
<mat-card class="Card" dynamic>
  <mat-tab-group dynamicHeight>
    <mat-tab>
      <ng-template mat-tab-label>
        <span
          style="
            width: 15rem;
            display: flex;
            white-space: break-spaces;
            justify-content: center;
            font-weight: bolder;
          "
        >
          TRAITEMENT
          <div
            style="color: brown"
            *ngIf="
              acceptedData.data.length + rejectedData.data.length > 0
                ? acceptedData.data.length + rejectedData.data.length
                : null
            "
          >
            ({{ acceptedData.data.length + rejectedData.data.length }})
          </div>
        </span>
      </ng-template>
      <mat-tab-group dynamicHeight
        ><mat-tab>
          <ng-template mat-tab-label>
            <span
              style="
                display: flex;
                white-space: break-spaces;
                justify-content: center;
                font-weight: bolder;
              "
              >Acceptées
              <div
                style="color: green"
                *ngIf="
                  acceptedData.data.length > 0 ? acceptedData.data.length : null
                "
              >
                ({{ acceptedData.data.length }})
              </div></span
            >
          </ng-template>
          <div style="border-radius: 10px; overflow: hidden" class="tables">
            <table
              mat-table
              [dataSource]="acceptedData"
              [hidden]="!acceptedData.data.length"
            >
              <ng-container matColumnDef="idx">
                <th mat-header-cell *matHeaderCellDef>N°</th>
                <td mat-cell *matCellDef="let element; let i = index">
                  {{ i + 1 }}
                </td>
              </ng-container>

              <ng-container matColumnDef="num_opt">
                <th mat-header-cell *matHeaderCellDef>Option</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.num_opt }}
                </td>
              </ng-container>

              <ng-container matColumnDef="nom_adherent">
                <th mat-header-cell *matHeaderCellDef>Nom</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.nom_adherent }}
                </td>
              </ng-container>

              <ng-container matColumnDef="prenom_adherent">
                <th mat-header-cell *matHeaderCellDef>Prénom</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.prenom_adherent }}
                </td>
              </ng-container>

              <ng-container matColumnDef="lien_benef">
                <th mat-header-cell *matHeaderCellDef>Lien</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.lien_benef }}
                </td>
              </ng-container>

              <ng-container matColumnDef="prenom_benef">
                <th mat-header-cell *matHeaderCellDef>Prenom bénéf.</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.prenom_benef }}
                </td>
              </ng-container>

              <ng-container matColumnDef="date_sin">
                <th mat-header-cell *matHeaderCellDef>Date de sin.</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.date_sin | date : "dd/MM/yyyy" }}
                </td>
              </ng-container>

              <ng-container matColumnDef="garantie_describ">
                <th mat-header-cell *matHeaderCellDef>Acte</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.code_garantie }} : {{ element.garantie_describ }}
                </td>
              </ng-container>

              <ng-container matColumnDef="frais_sin">
                <th mat-header-cell *matHeaderCellDef>Frais</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.frais_sin | number : "1.2-2" }}
                </td>
              </ng-container>

              <ng-container matColumnDef="rbt_sin">
                <th mat-header-cell *matHeaderCellDef>Remb.</th>
                <td mat-cell *matCellDef="let element">
                  <div *ngIf="element.isEdit">
                    <input
                      mat-input
                      type="number"
                      [(ngModel)]="element.rbt_sin"
                    />
                  </div>

                  <div *ngIf="!element.isEdit">
                    {{ element.rbt_sin | number : "1.2-2" }}
                  </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="res_calcul">
                <th mat-header-cell *matHeaderCellDef>État</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.res_calcul }}
                </td>
              </ng-container>

              <ng-container matColumnDef="obs_sin">
                <th mat-header-cell *matHeaderCellDef>Obs.</th>
                <td mat-cell *matCellDef="let element">
                  <div *ngIf="element.isEdit">
                    <input mat-input [(ngModel)]="element.obs_sin" />
                  </div>

                  <div *ngIf="!element.isEdit">
                    {{ element.obs_sin }}
                  </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="rib">
                <th mat-header-cell *matHeaderCellDef>RIB</th>
                <td mat-cell *matCellDef="let element">
                  <span
                    [ngStyle]="{
                      color:
                        ribVerify(element) === 'OK'
                          ? 'green'
                          : ribVerify(element) === 'NOT OK'
                          ? 'red'
                          : 'black'
                    }"
                    [matTooltip]="element.rib + ' =>' + element.calculkey"
                  >
                    {{ ribVerify(element) }}
                  </span>
                </td>
              </ng-container>

              <ng-container matColumnDef="forced">
                <th mat-header-cell *matHeaderCellDef>Forcer</th>
                <td mat-cell *matCellDef="let element">
                  <mat-slide-toggle
                    (click)="!element.isEdit ? showMessage() : null"
                    [(ngModel)]="element.forced"
                    [disabled]="!element.isEdit"
                  ></mat-slide-toggle>
                </td>
              </ng-container>

              <ng-container matColumnDef="calculate">
                <th mat-header-cell *matHeaderCellDef>Calculer / Copier</th>
                <td mat-cell *matCellDef="let element">
                  <mat-icon
                    style="cursor: pointer; color: #5666e1; margin-right: 1rem"
                    (click)="getTempSinbyIdSin(element)"
                    fontIcon="calculate"
                  ></mat-icon>
                  <mat-icon
                    fontIcon="file_copy"
                    (click)="replicateData(element)"
                    style="cursor: pointer; color: #9c27b07a"
                  ></mat-icon>
                </td>
              </ng-container>

              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Édit/Suppr.</th>
                <td mat-cell *matCellDef="let element">
                  <mat-icon
                    *ngIf="!element.isEdit"
                    (click)="strtEditDecla(element)"
                    style="color: #348bfd; cursor: pointer"
                    >edit</mat-icon
                  >
                  <mat-icon
                    *ngIf="!element.isEdit"
                    (click)="deleteDeclaTemp(element)"
                    color="warn"
                    style="cursor: pointer"
                    >delete</mat-icon
                  >

                  <mat-icon
                    *ngIf="element.isEdit"
                    (click)="updateDeclaTemp(element)"
                    >check</mat-icon
                  >
                  <mat-icon
                    *ngIf="element.isEdit"
                    (click)="cancelEdit(element)"
                    color="primary"
                    style="cursor: pointer"
                    >close</mat-icon
                  >
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
          </div>
        </mat-tab>
        <!--___________________________________________________________________________________________________________________-->
        <!--____________________________________________TABLE REJETS___________________________________________________________-->
        <!--___________________________________________________________________________________________________________________-->

        <mat-tab>
          <ng-template mat-tab-label>
            <span
              style="
                display: flex;
                white-space: break-spaces;
                justify-content: center;
                font-weight: bolder;
              "
              >Rejets
              <div
                style="color: red"
                *ngIf="
                  rejectedData.data.length > 0 ? rejectedData.data.length : null
                "
              >
                ({{ rejectedData.data.length }})
              </div></span
            >
          </ng-template>
          <div style="border-radius: 10px; overflow: hidden" class="tables">
            <table
              mat-table
              [dataSource]="rejectedData"
              [hidden]="!rejectedData.data.length"
            >
              <ng-container matColumnDef="idx">
                <th mat-header-cell *matHeaderCellDef>N°</th>
                <td mat-cell *matCellDef="let element; let i = index">
                  {{ i + 1 }}
                </td>
              </ng-container>

              <ng-container matColumnDef="num_opt">
                <th mat-header-cell *matHeaderCellDef>Option</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.num_opt }}
                </td>
              </ng-container>

              <ng-container matColumnDef="nom_adherent">
                <th mat-header-cell *matHeaderCellDef>Nom</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.nom_adherent }}
                </td>
              </ng-container>

              <ng-container matColumnDef="prenom_adherent">
                <th mat-header-cell *matHeaderCellDef>Prénom</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.prenom_adherent }}
                </td>
              </ng-container>

              <ng-container matColumnDef="lien_benef">
                <th mat-header-cell *matHeaderCellDef>Lien</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.lien_benef }}
                </td>
              </ng-container>

              <ng-container matColumnDef="prenom_benef">
                <th mat-header-cell *matHeaderCellDef>Prenom bénéf.</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.prenom_benef }}
                </td>
              </ng-container>

              <ng-container matColumnDef="date_sin">
                <th mat-header-cell *matHeaderCellDef>Date de sin.</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.date_sin | date : "dd/MM/yyyy" }}
                </td>
              </ng-container>

              <ng-container matColumnDef="garantie_describ">
                <th mat-header-cell *matHeaderCellDef>Acte</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.code_garantie }} : {{ element.garantie_describ }}
                </td>
              </ng-container>

              <ng-container matColumnDef="frais_sin">
                <th mat-header-cell *matHeaderCellDef>Frais</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.frais_sin | number : "1.2-2" }}
                </td>
              </ng-container>

              <ng-container matColumnDef="rbt_sin">
                <th mat-header-cell *matHeaderCellDef>Remb.</th>
                <td mat-cell *matCellDef="let element">
                  <div *ngIf="element.isEdit">
                    <input
                      mat-input
                      type="number"
                      [(ngModel)]="element.rbt_sin"
                    />
                  </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="res_calcul">
                <th mat-header-cell *matHeaderCellDef>État</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.res_calcul }}
                </td>
              </ng-container>

              <ng-container matColumnDef="obs_sin">
                <th mat-header-cell *matHeaderCellDef>Obs.</th>
                <td mat-cell *matCellDef="let element">
                  <div *ngIf="element.isEdit">
                    <input mat-input [(ngModel)]="element.obs_sin" />
                  </div>

                  <div *ngIf="!element.isEdit">
                    {{ element.obs_sin }}
                  </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="rib">
                <th mat-header-cell *matHeaderCellDef>RIB</th>
                <td mat-cell *matCellDef="let element">
                  <span
                    [ngStyle]="{
                      color:
                        ribVerify(element) === 'OK'
                          ? 'green'
                          : ribVerify(element) === 'NOT OK'
                          ? 'red'
                          : 'black'
                    }"
                    [matTooltip]="element.rib + ' =>' + element.calculkey"
                  >
                    {{ ribVerify(element) }}
                  </span>
                </td>
              </ng-container>

              <ng-container matColumnDef="forced">
                <th mat-header-cell *matHeaderCellDef>Forcer</th>
                <td mat-cell *matCellDef="let element">
                  <mat-slide-toggle
                    (click)="!element.isEdit ? showMessage() : null"
                    [(ngModel)]="element.forced"
                    [disabled]="!element.isEdit"
                  ></mat-slide-toggle>
                </td>
              </ng-container>

              <ng-container matColumnDef="calculate">
                <th mat-header-cell *matHeaderCellDef>Calculer / Copier</th>
                <td mat-cell *matCellDef="let element">
                  <mat-icon
                    style="cursor: pointer; color: #5666e1; margin-right: 1rem"
                    (click)="getTempSinbyIdSin(element)"
                    fontIcon="calculate"
                  ></mat-icon>
                  <mat-icon
                    fontIcon="file_copy"
                    (click)="replicateData(element)"
                    style="cursor: pointer; color: #9c27b07a"
                  ></mat-icon>
                </td>
              </ng-container>

              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Édit/Suppr.</th>
                <td mat-cell *matCellDef="let element">
                  <mat-icon
                    *ngIf="!element.isEdit"
                    (click)="strtEditDecla(element)"
                    style="color: #348bfd; cursor: pointer"
                    >edit</mat-icon
                  >
                  <mat-icon
                    *ngIf="!element.isEdit"
                    (click)="deleteDeclaTemp(element)"
                    color="warn"
                    style="cursor: pointer"
                    >delete</mat-icon
                  >

                  <mat-icon
                    *ngIf="element.isEdit"
                    (click)="updateDeclaTemp(element)"
                    >check</mat-icon
                  >
                  <mat-icon
                    *ngIf="element.isEdit"
                    (click)="cancelEdit(element)"
                    color="primary"
                    style="cursor: pointer"
                    >close</mat-icon
                  >
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedRejetsColumns"></tr>
              <tr
                mat-row
                *matRowDef="let row; columns: displayedRejetsColumns"
              ></tr>
            </table>
          </div> </mat-tab
      ></mat-tab-group>

      @if(acceptedData.data.length > 0 || rejectedData.data.length > 0){
      <div style="height: 5rem">
        <button
          mat-raised-button
          (click)="submitStrSin()"
          style="
            background-color: green;
            color: aliceblue;
            border-radius: 20px;
            width: 100px;
            height: 35px;
            margin: 1.5rem 1rem 0 0;
            float: right;
          "
        >
          Valider
        </button>
      </div>
      }@else{}
    </mat-tab>
    <!--_______________________________________________________________________________________________________________________________________-->
    <!--___________________________________________________________HISTORIQUE ACCEPTEE_________________________________________________________-->
    <!--_______________________________________________________________________________________________________________________________________-->
    <mat-tab>
      <ng-template mat-tab-label>
        <span
          style="
            width: 15rem;
            display: flex;
            white-space: break-spaces;
            justify-content: center;
            font-weight: bolder;
          "
          >HISTORIQUE
          <div
            style="color: brown"
            *ngIf="
              histoAcceptedLength + histoRejectedLength > 0
                ? histoAcceptedLength + histoRejectedLength
                : null
            "
          >
            ({{ histoAcceptedLength + histoRejectedLength }})
          </div></span
        > </ng-template
      ><mat-tab-group
        ><mat-tab>
          <ng-template mat-tab-label>
            <span
              style="
                display: flex;
                white-space: break-spaces;
                justify-content: center;
                font-weight: bolder;
              "
              >Acceptées
              <div
                style="color: green"
                *ngIf="histoAcceptedLength > 0 ? histoAcceptedLength : null"
              >
                ({{ histoAcceptedLength }})
              </div></span
            >
          </ng-template>

          <div
            style="border-radius: 10px; overflow: hidden"
            class="tables"
            [hidden]="!histoAcceptedData.data.length"
          >
            <table mat-table [dataSource]="histoAcceptedData">
              <ng-container matColumnDef="idx">
                <th mat-header-cell *matHeaderCellDef>N°</th>
                <td mat-cell *matCellDef="let element; let i = index">
                  {{
                    acceptedPaginator.pageIndex * acceptedPaginator.pageSize +
                      i +
                      1
                  }}
                </td>
              </ng-container>

              <ng-container matColumnDef="num_opt">
                <th mat-header-cell *matHeaderCellDef>Option</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.num_opt }}
                </td>
              </ng-container>

              <ng-container matColumnDef="nom_adherent">
                <th mat-header-cell *matHeaderCellDef>Nom</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.nom_adherent }}
                </td>
              </ng-container>

              <ng-container matColumnDef="prenom_adherent">
                <th mat-header-cell *matHeaderCellDef>Prénom</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.prenom_adherent }}
                </td>
              </ng-container>

              <ng-container matColumnDef="lien_benef">
                <th mat-header-cell *matHeaderCellDef>Lien</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.lien_benef }}
                </td>
              </ng-container>

              <ng-container matColumnDef="prenom_benef">
                <th mat-header-cell *matHeaderCellDef>Prenom bénéf.</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.prenom_benef }}
                </td>
              </ng-container>

              <ng-container matColumnDef="date_sin">
                <th mat-header-cell *matHeaderCellDef>Date de sin.</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.date_sin | date : "dd/MM/yyyy" }}
                </td>
              </ng-container>

              <ng-container matColumnDef="garantie_describ">
                <th mat-header-cell *matHeaderCellDef>Acte</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.code_garantie }} : {{ element.garantie_describ }}
                </td>
              </ng-container>

              <ng-container matColumnDef="frais_sin">
                <th mat-header-cell *matHeaderCellDef>Frais</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.frais_sin | number : "1.2-2" }}
                </td>
              </ng-container>

              <ng-container matColumnDef="nbr_unit">
                <th mat-header-cell *matHeaderCellDef>Unité</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.nbr_unit }}
                </td>
              </ng-container>

              <ng-container matColumnDef="rbt_sin">
                <th mat-header-cell *matHeaderCellDef>Remb.</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.rbt_sin | number : "1.2-2" }}
                </td>
              </ng-container>

              <ng-container matColumnDef="res_calcul">
                <th mat-header-cell *matHeaderCellDef>État</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.res_calcul }}
                </td>
              </ng-container>

              <ng-container matColumnDef="obs_sin">
                <th mat-header-cell *matHeaderCellDef>Obs.</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.obs_sin }}
                </td>
              </ng-container>

              <ng-container matColumnDef="rib">
                <th mat-header-cell *matHeaderCellDef>RIB</th>
                <td mat-cell *matCellDef="let element">
                  <span
                    [ngStyle]="{
                      color:
                        ribVerify(element) === 'OK'
                          ? 'green'
                          : ribVerify(element) === 'NOT OK'
                          ? 'red'
                          : 'black'
                    }"
                    [matTooltip]="element.rib + ' =>' + element.calculkey"
                  >
                    {{ ribVerify(element) }}
                  </span>
                </td>
              </ng-container>

              <ng-container matColumnDef="forced">
                <th mat-header-cell *matHeaderCellDef>Forcé</th>
                <td mat-cell *matCellDef="let element">
                  <mat-slide-toggle
                    [(ngModel)]="element.forced"
                    [disabled]="true"
                  ></mat-slide-toggle>
                </td>
              </ng-container>

              <ng-container matColumnDef="calculate">
                <th mat-header-cell *matHeaderCellDef>Copier</th>
                <td mat-cell *matCellDef="let element">
                  <mat-icon
                    fontIcon="file_copy"
                    (click)="replicateData(element)"
                    style="cursor: pointer; color: #9c27b07a"
                  ></mat-icon>
                </td>
              </ng-container>

              <ng-container matColumnDef="ref_dpt">
                <th mat-header-cell *matHeaderCellDef>Ref. dépôt</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.ref_dpt }}
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="histoDisplayedColumns"></tr>
              <tr
                mat-row
                *matRowDef="let row; columns: histoDisplayedColumns"
              ></tr>
            </table>
            <mat-paginator
              #acceptedPaginator
              [length]="histoAcceptedLength"
              [pageSizeOptions]="[15, 30, 100]"
              fxLayoutGap="10px"
              showFirstLastButtons
            ></mat-paginator></div
        ></mat-tab>

        <!--_______________________________________________________________________________________________________________________________________-->
        <!--__________________________________________________________ HISTORIQUE REJETS __________________________________________________________-->
        <!--_______________________________________________________________________________________________________________________________________-->
        <mat-tab>
          <ng-template mat-tab-label>
            <span
              style="
                display: flex;
                white-space: break-spaces;
                justify-content: center;
                font-weight: bolder;
              "
              >Rejets
              <div
                style="color: red"
                *ngIf="histoRejectedLength > 0 ? histoRejectedLength : null"
              >
                ({{ histoRejectedLength }})
              </div></span
            >
          </ng-template>

          <div
            style="border-radius: 10px; overflow: hidden"
            class="tables"
            [hidden]="!histoRejectedData.data.length"
          >
            <table mat-table [dataSource]="histoRejectedData">
              <ng-container matColumnDef="idx">
                <th mat-header-cell *matHeaderCellDef>N°</th>
                <td mat-cell *matCellDef="let element; let i = index">
                  {{
                    rejectedPaginator.pageIndex * rejectedPaginator.pageSize +
                      i +
                      1
                  }}
                </td>
              </ng-container>

              <ng-container matColumnDef="num_opt">
                <th mat-header-cell *matHeaderCellDef>Option</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.num_opt }}
                </td>
              </ng-container>

              <ng-container matColumnDef="nom_adherent">
                <th mat-header-cell *matHeaderCellDef>Nom</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.nom_adherent }}
                </td>
              </ng-container>

              <ng-container matColumnDef="prenom_adherent">
                <th mat-header-cell *matHeaderCellDef>Prénom</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.prenom_adherent }}
                </td>
              </ng-container>

              <ng-container matColumnDef="lien_benef">
                <th mat-header-cell *matHeaderCellDef>Lien</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.lien_benef }}
                </td>
              </ng-container>

              <ng-container matColumnDef="prenom_benef">
                <th mat-header-cell *matHeaderCellDef>Prenom bénéf.</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.prenom_benef }}
                </td>
              </ng-container>

              <ng-container matColumnDef="date_sin">
                <th mat-header-cell *matHeaderCellDef>Date de sin.</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.date_sin | date : "dd/MM/yyyy" }}
                </td>
              </ng-container>

              <ng-container matColumnDef="garantie_describ">
                <th mat-header-cell *matHeaderCellDef>Acte</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.code_garantie }} : {{ element.garantie_describ }}
                </td>
              </ng-container>

              <ng-container matColumnDef="frais_sin">
                <th mat-header-cell *matHeaderCellDef>Frais</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.frais_sin | number : "1.2-2" }}
                </td>
              </ng-container>

              <ng-container matColumnDef="res_calcul">
                <th mat-header-cell *matHeaderCellDef>État</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.res_calcul }}
                </td>
              </ng-container>

              <ng-container matColumnDef="obs_sin">
                <th mat-header-cell *matHeaderCellDef>Obs.</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.obs_sin }}
                </td>
              </ng-container>

              <ng-container matColumnDef="rib">
                <th mat-header-cell *matHeaderCellDef>RIB</th>
                <td mat-cell *matCellDef="let element">
                  <span
                    [ngStyle]="{
                      color:
                        ribVerify(element) === 'OK'
                          ? 'green'
                          : ribVerify(element) === 'NOT OK'
                          ? 'red'
                          : 'black'
                    }"
                    [matTooltip]="element.rib + ' =>' + element.calculkey"
                  >
                    {{ ribVerify(element) }}
                  </span>
                </td>
              </ng-container>

              <ng-container matColumnDef="forced">
                <th mat-header-cell *matHeaderCellDef>Forcé</th>
                <td mat-cell *matCellDef="let element">
                  <mat-slide-toggle
                    [disabled]="true"
                    [(ngModel)]="element.forced"
                  ></mat-slide-toggle>
                </td>
              </ng-container>

              <ng-container matColumnDef="calculate">
                <th mat-header-cell *matHeaderCellDef>Copier</th>
                <td mat-cell *matCellDef="let element">
                  <mat-icon
                    fontIcon="file_copy"
                    (click)="replicateData(element)"
                    style="cursor: pointer; color: #9c27b07a"
                  ></mat-icon>
                </td>
              </ng-container>

              <ng-container matColumnDef="ref_dpt">
                <th mat-header-cell *matHeaderCellDef>Ref. dépôt</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.ref_dpt }}
                </td>
              </ng-container>

              <tr
                mat-header-row
                *matHeaderRowDef="histoRejetsDisplayedColumns"
              ></tr>
              <tr
                mat-row
                *matRowDef="let row; columns: histoRejetsDisplayedColumns"
              ></tr>
            </table>
            <mat-paginator
              #rejectedPaginator
              [length]="histoRejectedLength"
              [pageSizeOptions]="[15, 30, 100]"
              fxLayoutGap="10px"
              showFirstLastButtons
            ></mat-paginator></div></mat-tab></mat-tab-group
    ></mat-tab>
  </mat-tab-group>
</mat-card>
