* {
  min-width: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  background-image: url("/assets/background.png");
  background-size: cover;
}
body {
  margin: 4px;
  min-height: 98dvh;
}

.blue-snackbar.mat-mdc-snack-bar-container {
  .mdc-snackbar__surface {
    background: rgba(255, 255, 255, 0.966);
    border-radius: 30px;

    .mat-mdc-button {
      color: rgb(43, 42, 42) !important;
      border-left-style: outset;
    }
  }

  .mat-mdc-snack-bar-label.mdc-snackbar__label {
    color: rgb(94, 94, 94);
    font-weight: 500;
    white-space: pre-wrap;
  }
}
:host ::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #bada55;
}

.mat-mdc-menu-content {
  background-color: rgba(255, 255, 255, 0.766);
  display: flex;
  flex-direction: column;
  padding: 0px 15px 5px 5px !important;
  border-radius: 20px;
}
.mat-mdc-menu-panel {
  background-color: rgba(255, 255, 255, 0.766);
  border-radius: 20px !important;
}
.mat-badge.mat-badge {
  overflow: visible !important;
  z-index: 2;
}
.mat-mdc-select-panel {
  max-height: 49vh !important;
}
