.matoolB {
  flex-direction: row;
  height: 45px !important;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  justify-content: space-between;
  border-radius: 10px !important;
  font-size: 12px;
  margin: 4px 4px 4px 60px;
  width: auto;
  margin-bottom: 2vh;
}

.matoolB,
.mat-mdc-paginator {
  table-layout: auto;
  white-space: normal;
  background-color: hwb(0 100% 0% / 0.6);
}
.mat-toolbar-row,
.mat-toolbar-single-row {
  height: fit-content;
  color: #3d3b3b;
  font-size: 12px;
  font-weight: bold;
}
.innerTable {
  display: block;
  border-radius: 10px;
  min-width: min-content;
  overflow: hidden;
  background: darkviolet;
}

.innerTr {
  background-color: #e237628a !important;
}
.slave_table {
  display: block;
  border-radius: 10px;
  min-width: min-content;
  overflow: hidden;
  background: blue;
}
.slaveTr {
  background-color: #3d7ffe6e !important;
  font-size: 18px;
  font-weight: bolder;
}

.master_table {
  display: inline-block;
}

.masterTr {
  background-color: hwb(0 100% 0% / 0) !important;
  font-size: 20px;
  height: 30px;
  font-weight: bolder;
}

.tables_container {
  text-align: center;
  text-wrap: nowrap;
}

.ng-star-inserted {
  position: relative;
  height: auto;

  text-wrap: nowrap;
}
.mat-elevation-z8 {
  overflow: hidden;
  white-space: pre-line;
  border-radius: 10px;
}

.mat-mdc-table {
  background-color: hwb(0 100% 0% / 0.3);
}

.mat-mdc-header-cell {
  background-color: inherit !important;
}

.mat-mdc-table {
  background-color: hwb(0 100% 0% / 0.3);
}
.expanded-row {
  font-weight: bolder;
}
.xlsdl {
  background: none;
  cursor: pointer;
  border: none;
  float: left;
}
.xls_icon {
  width: 35px;
}
.searchField {
  background-color: hwb(0 100% 0% / 0.6);
  border-bottom-style: hidden;
  width: fit-content;
  box-shadow: 0 4px 2px -2px gray;
  padding: 0.3rem 0.3rem 0.3rem 0.3rem;
  border-radius: 10px;
  overflow: hidden;
  margin-left: 60px;
}
.mdc-text-field--no-label:not(.mdc-text-field--outlined):not(
    .mdc-text-field--textarea
  )
  .mat-mdc-form-field-infix
  .mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined) {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.mat-mdc-form-field {
  height: 25px;
  font-size: 12px;

  display: inline-flex;
  flex-direction: row;
  padding-left: 1px;
  padding-right: 1px;
}
.mat-mdc-form-field-infix {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
::ng-deep.mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined)
  .mat-mdc-form-field-infix {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

::ng-deep.mat-mdc-form-field-infix {
  flex: auto;
  min-width: 0;
  width: 180px;
  position: relative;
  box-sizing: border-box;
}
::ng-deep.mat-mdc-form-field-infix {
  min-height: 0 !important;
}
::ng-deep.mat-mdc-form-field-subscript-wrapper {
  width: 0 !important;
}
::ng-deep.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  border-radius: 20px;
}
