<body>
  <mat-toolbar class="matoolB">
    <button
      style="border-radius: 20px; width: 100px; height: 35px"
      mat-raised-button
      [routerLink]="['/paraph']"
    >
      Nouveau
    </button>

    <div>
      <p>Tous les virements : DZ</p>
    </div>
  </mat-toolbar>

  <div class="searchField">
    <mat-form-field>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Recherche..."
        #input
      />
    </mat-form-field>
  </div>

  <div class="tables_container">
    <div class="master_table">
      <table
        mat-table
        [dataSource]="dataSource"
        class="mat-elevation-z8"
        multiTemplateDataRows
      >
        <ng-container matColumnDef="indx_ov">
          <th mat-header-cell *matHeaderCellDef>N°</th>
          <td mat-cell *matCellDef="let element">
            {{ element.indx_ov }}
          </td>
        </ng-container>
        <ng-container matColumnDef="ref_ov">
          <th mat-header-cell *matHeaderCellDef>Référence OV</th>
          <td mat-cell *matCellDef="let element">
            {{ element.ref_ov }}
          </td>
        </ng-container>

        <ng-container matColumnDef="added">
          <th mat-header-cell *matHeaderCellDef>Ajouté</th>
          <td mat-cell *matCellDef="let element" style="width: 40px">
            {{ element.added | date : "dd/MM/yyyy" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="total_ov">
          <th mat-header-cell *matHeaderCellDef>Total des OV</th>
          <td
            mat-cell
            *matCellDef="let element"
            style="width: 40px; text-align: right"
          >
            {{ element.total_ov | number : "1.2-2" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="file_ov">
          <th mat-header-cell *matHeaderCellDef style="text-align: right">
            Fichier
          </th>
          <td
            mat-cell
            *matCellDef="let element"
            style="display: flex; flex-direction: row-reverse"
          >
            <button
              class="xlsdl"
              (click)="downloadExcel(element); $event.stopPropagation()"
              style="width: 35px"
            >
              <img class="xls_icon" src="assets/xlsicn.png" />
            </button>

            <a
              *ngIf="element.file_ov; else noFile"
              (click)="
                downloadFile(element.file_ov, element.ref_ov);
                $event.stopPropagation()
              "
            >
              <img
                style="height: 35px; cursor: pointer"
                src="assets/icnpdf.png"
                alt="File Icon"
              />
            </a>
            <input
              type="file"
              #fileInput
              style="display: none"
              (change)="
                onFileInputChange($event, element.id_ov);
                $event.stopPropagation()
              "
            />
            <ng-template #noFile>
              <mat-icon color="warn" (click)="fileInput.click()">
                cancel
              </mat-icon>
            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
          <td
            mat-cell
            *matCellDef="let element"
            [attr.colspan]="displayedColumns.length"
          >
            <div
              class="slave_table"
              [@detailExpand]="
                element == expandedElement ? 'expanded' : 'collapsed'
              "
            >
              <table
                mat-table
                [dataSource]="element.ParaphTable"
                multiTemplateDataRows
              >
                <ng-container matColumnDef="indx_titles">
                  <th mat-header-cell *matHeaderCellDef>N°</th>
                  <td mat-cell *matCellDef="let subElement">
                    {{ subElement.indx_titles }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="num_sin">
                  <th mat-header-cell *matHeaderCellDef>Sinistre N°</th>
                  <td mat-cell *matCellDef="let subElement">
                    {{ subElement.num_sin }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="trt_par">
                  <th mat-header-cell *matHeaderCellDef>Traité par</th>
                  <td mat-cell *matCellDef="let subElement">
                    {{ subElement.trt_par }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="souscript">
                  <th mat-header-cell *matHeaderCellDef>Souscripteur</th>
                  <td mat-cell *matCellDef="let subElement">
                    {{ subElement.souscript }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="total_op">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    style="display: flex; flex-direction: row-reverse"
                  >
                    Total des OP
                  </th>
                  <td mat-cell *matCellDef="let subElement">
                    {{ subElement.total_op | number : "1.2-2" }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="pdf_ov">
                  <th mat-header-cell *matHeaderCellDef>Fichier</th>
                  <td
                    mat-cell
                    *matCellDef="let element"
                    style="display: flex; flex-direction: row-reverse"
                  >
                    <a
                      *ngIf="element.pdf_ov; else noFile"
                      (click)="
                        downloadFile(element.pdf_ov, element.pdf_file_name);
                        $event.stopPropagation()
                      "
                    >
                      <img
                        style="height: 35px; cursor: pointer"
                        src="assets/icnpdf.png"
                        alt="File Icon"
                      />
                    </a>
                    <ng-template #noFile>
                      <mat-icon color="warn">cancel</mat-icon>
                    </ng-template>
                  </td>
                </ng-container>

                <ng-container matColumnDef="expandedExpandedDetail">
                  <td
                    mat-cell
                    *matCellDef="let element"
                    [attr.colspan]="displayedMidColumns.length"
                  >
                    <div
                      class="innerTable"
                      [@detailExpand]="
                        element == expandedSubElement ? 'expanded' : 'collapsed'
                      "
                    >
                      <table mat-table [dataSource]="element.paraphdetails">
                        <ng-container matColumnDef="indx_vrmnt">
                          <th mat-header-cell *matHeaderCellDef>N°</th>
                          <td mat-cell *matCellDef="let innerElement">
                            {{ innerElement.indx_vrmnt }}
                          </td>
                        </ng-container>
                        <ng-container matColumnDef="benef_virmnt">
                          <th mat-header-cell *matHeaderCellDef>
                            Bénéficiaire
                          </th>
                          <td mat-cell *matCellDef="let innerElement">
                            {{ innerElement.benef_virmnt }}
                          </td>
                        </ng-container>
                        <ng-container matColumnDef="rib">
                          <th mat-header-cell *matHeaderCellDef>RIB</th>
                          <td mat-cell *matCellDef="let innerElement">
                            {{ innerElement.rib }}
                          </td>
                        </ng-container>
                        <ng-container matColumnDef="montant">
                          <th mat-header-cell *matHeaderCellDef>Montant</th>
                          <td
                            mat-cell
                            *matCellDef="let innerElement"
                            style="display: flex; flex-direction: row-reverse"
                          >
                            {{ innerElement.montant | number : "1.2-2" }}
                          </td>
                        </ng-container>

                        <tr
                          class="innerTr"
                          mat-header-row
                          *matHeaderRowDef="displayedDetailsColumns"
                        ></tr>
                        <tr
                          mat-row
                          *matRowDef="
                            let innerElement;
                            columns: displayedDetailsColumns
                          "
                        ></tr>
                      </table>
                    </div>
                  </td>
                </ng-container>

                <tr
                  mat-header-row
                  *matHeaderRowDef="displayedMidColumns"
                  class="slaveTr"
                ></tr>
                <tr
                  mat-row
                  *matRowDef="let subElement; columns: displayedMidColumns"
                  [class.element]="expandedSubElement === subElement"
                  [ngClass]="{
                    'expanded-row': isInnerExpanded(subElement),
                  }"
                  (click)="toggleInnerElement(subElement)"
                ></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: ['expandedExpandedDetail']"
                  class="mat-row-detail"
                ></tr>
              </table>
            </div>
          </td>
        </ng-container>

        <tr
          class="masterTr"
          mat-header-row
          *matHeaderRowDef="displayedColumns"
        ></tr>
        <tr
          mat-row
          *matRowDef="let element; columns: displayedColumns"
          [class.element]="expandedElement === element"
          [ngClass]="{
            'expanded-row': isExpanded(element),
          }"
          (click)="toggleElement(element)"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: ['expandedDetail']"
          class="mat-row-detail"
        ></tr>
      </table>
    </div>
  </div>
</body>
