<body>
  <div
    id="dropzone"
    (drop)="dropped($event)"
    (dragover)="$event.preventDefault()"
  >
    >>>>>>>> lachez ici ! <<<<<<<<<
  </div>
  <mat-toolbar class="matoolB">
    <div style="white-space: nowrap">
      <button
        style="border-radius: 20px; width: 100px; height: 35px"
        mat-raised-button
        (click)="fileInput.click()"
      >
        Charger
        <input
          #fileInput
          type="file"
          (change)="handleFileUpload($event)"
          style="display: none"
          webkitdirectory
          multiple
        />
      </button>
      <button
        style="
          border-radius: 20px;
          width: 100px;
          height: 35px;
          background-color: rgb(185, 185, 185);
          margin-left: 2%;
        "
        mat-raised-button
        [routerLink]="['/histo_paraph']"
      >
        Historique
      </button>
    </div>
    <div
      style="font-size: 16px; font-weight: bolder"
      *ngIf="calculTotalNbrVirmnt() > 0"
    >
      Nombre de virements : {{ calculTotalNbrVirmnt() }}
    </div>

    <div
      style="font-size: 16px; font-weight: bolder"
      *ngIf="calculTotalVirmnt() > 0"
    >
      Total parapheur : {{ calculTotalVirmnt() | number : "1.2-2" }}
    </div>

    <button class="xlsdl" (click)="downloadExcel()">
      <img class="icon" src="assets/xlsicn.png" />
    </button>
  </mat-toolbar>

  <div class="searchField">
    <mat-form-field>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Recherche..."
        #input
      />
    </mat-form-field>
  </div>

  <div class="form_container" style="display: grid">
    <div
      class="mat-elevation-z8"
      style="border-radius: 10px; overflow: hidden"
      *ngIf="dataSource && dataSource.data.length > 0"
    >
      <table mat-table [dataSource]="dataSource" multiTemplateDataRows>
        <div class="MainRow">
          <ng-container matColumnDef="id">
            <th
              mat-header-cell
              *matHeaderCellDef
              style="font-size: 16px; font-weight: bolder"
            >
              N°
            </th>
            <td mat-cell *matCellDef="let element">
              <div>{{ element.id }}</div>
            </td>
          </ng-container>
          <ng-container matColumnDef="souscript">
            <th
              mat-header-cell
              *matHeaderCellDef
              style="font-size: 16px; font-weight: bolder"
            >
              Souscripteur
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              style="font-weight: bolder"
              matBadge="{{ element.issues }}"
              [matBadgeHidden]="element.issues === 0"
              matBadgeOverlap="true"
              matBadgeColor="warn"
            >
              <div>{{ element.souscript }}</div>
            </td>
          </ng-container>

          <ng-container matColumnDef="trt_par">
            <th
              mat-header-cell
              *matHeaderCellDef
              style="font-size: 16px; font-weight: bolder"
            >
              Traité par
            </th>
            <td mat-cell *matCellDef="let element" style="font-weight: bolder">
              <div>{{ element.trt_par }}</div>
            </td>
          </ng-container>

          <ng-container matColumnDef="garantie">
            <th
              mat-header-cell
              *matHeaderCellDef
              style="font-size: 16px; font-weight: bolder"
            >
              Garantie
            </th>
            <td mat-cell *matCellDef="let element" style="font-weight: bolder">
              <div>{{ element.garantie }}</div>
            </td>
          </ng-container>

          <ng-container matColumnDef="num_sin">
            <th
              mat-header-cell
              *matHeaderCellDef
              style="font-size: 16px; font-weight: bolder"
            >
              Sinistre n°
            </th>
            <td mat-cell *matCellDef="let element" style="font-weight: bolder">
              <div>{{ element.num_sin }}</div>
            </td>
          </ng-container>

          <ng-container matColumnDef="nbrvrmnt">
            <th
              mat-header-cell
              *matHeaderCellDef
              style="font-size: 16px; font-weight: bolder"
            >
              Nbr de virements
            </th>
            <td mat-cell *matCellDef="let element" style="font-weight: bolder">
              {{ element.paraphdetails.length }}
            </td>
          </ng-container>

          <ng-container matColumnDef="total">
            <th
              mat-header-cell
              *matHeaderCellDef
              style="font-size: 16px; font-weight: bolder"
            >
              Totaux
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              style="font-weight: bolder; text-align: right"
            >
              <div>{{ element.total | number : "1.2-2" }}</div>
            </td>
          </ng-container>

          <ng-container matColumnDef="pdf_ov">
            <th
              mat-header-cell
              *matHeaderCellDef
              style="
                font-size: 16px;
                font-weight: bolder;
                display: flex;
                flex-direction: row-reverse;
              "
            >
              Fichier (OP)
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              style="display: flex; flex-direction: row-reverse"
            >
              <a
                (click)="downloadFile(element.pdf_ov); $event.stopPropagation()"
              >
                <img
                  style="height: 35px; cursor: pointer"
                  src="assets/icnpdf.png"
                  alt="File Icon"
                />
              </a>
            </td>
          </ng-container>
        </div>
        <ng-container matColumnDef="expandedDetail">
          <td
            mat-cell
            *matCellDef="let element"
            [attr.colspan]="displayedColumns.length"
          >
            <div class="detailDisplay" [@detailExpand]="isExpanded(element)">
              <table
                mat-table
                [dataSource]="element.paraphdetails"
                class="mat-elevation-z8"
                id="childtable"
              >
                <ng-container matColumnDef="serial">
                  <th mat-header-cell *matHeaderCellDef>N°</th>
                  <td mat-cell *matCellDef="let element">
                    <div>{{ element.serial }}</div>
                  </td>
                </ng-container>
                <ng-container matColumnDef="benef_virmnt">
                  <th mat-header-cell *matHeaderCellDef>Bénéf</th>
                  <td mat-cell *matCellDef="let element">
                    <div>{{ element.benef_virmnt }}</div>
                  </td>
                </ng-container>
                <ng-container matColumnDef="rib">
                  <th mat-header-cell *matHeaderCellDef>RIB</th>
                  <td
                    mat-cell
                    *matCellDef="let element"
                    [ngStyle]="{ color: element.highlightRib }"
                    [matTooltip]="element.calculkey"
                  >
                    <div>{{ element.rib }}</div>
                  </td>
                </ng-container>
                <ng-container matColumnDef="montant">
                  <th mat-header-cell *matHeaderCellDef>Montant</th>
                  <td mat-cell *matCellDef="let element">
                    <div style="float: right">
                      {{ element.montant | number : "1.2-2" }}
                    </div>
                  </td>
                </ng-container>

                <tr
                  mat-header-row
                  *matHeaderRowDef="displayedDetailsColumns"
                ></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: displayedDetailsColumns"
                ></tr>
              </table>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          [ngClass]="{
    'grey-row': row.paraphdetails.length === 0,
    'expanded-row': expandedElements.indexOf(row) !== -1,
  }"
          (click)="row.paraphdetails.length > 0 ? toggleDetails(row) : null"
        ></tr>

        <tr
          mat-row
          *matRowDef="let row; columns: ['expandedDetail']"
          id="detail-row"
        ></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter</td>
        </tr>
      </table>
    </div>
    <div class="submit_btn" *ngIf="dataSource && dataSource.data.length > 0">
      <button
        (click)="paraphSubmit()"
        mat-raised-button
        style="
          background-color: green;
          color: aliceblue;
          border-radius: 20px;
          width: 100px;
          height: 35px;
        "
      >
        Valider
      </button>
    </div>
  </div>
</body>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="large"
  color="#fff"
  type="ball-scale-multiple"
  [fullScreen]="true"
  ><p style="color: white">Chargement...</p></ngx-spinner
>
