#dropzone {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  padding-top: 20%;
  box-sizing: border-box;
  font-size: 25px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.xlsdl {
  background: none;
  cursor: pointer;
  border: none;
  float: left;
}
.icon {
  height: 40px;
}
.ng-star-inserted {
  position: relative;
  height: auto;
  font-size: 12px;
}
.mat-elevation-z8 {
  overflow: hidden;
  white-space: pre-line;
}
.form_container {
  display: flex;
  justify-content: center;
}

.mat-mdc-table {
  background-color: hwb(0 100% 0% / 0.3);
}

.mat-mdc-header-cell {
  background-color: hwb(0 100% 0% / 0) !important;
}

.mat-mdc-table {
  background-color: hwb(0 100% 0% / 0.3);
}

.mat-mdc-header-cell {
  background-color: hwb(0 100% 0% / 0) !important;
}
.matoolB {
  flex-direction: row;
  height: 45px !important;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  justify-content: space-between;
  border-radius: 10px !important;
  font-size: 12px;
  margin: 4px 4px 4px 60px;
  width: auto;
  margin-bottom: 2vh;
}
.matoolB,
.mat-mdc-paginator {
  table-layout: auto;
  white-space: normal;
  background-color: hwb(0 100% 0% / 0.6);
}
.mat-toolbar-row,
.mat-toolbar-single-row {
  height: fit-content;
  color: #3d3b3b;
  font-size: 12px;
  font-weight: bold;
}
.detailDisplay {
  overflow: hidden !important;
  display: flex !important;
}

.detailDisplay th {
  background-color: #3d7ffe6e !important;
}
#childtable {
  display: block;
  border-radius: 10px;
  margin: 1% 0 1% 2%;
  min-width: min-content;
}
.MainRow {
  font-size: 14px !important;
  font-weight: bolder;
}

.submit_btn {
  display: flex;
  flex-direction: row-reverse;
  margin: 10px 4px 6px 6px;
}
.searchField {
  background-color: hwb(0 100% 0% / 0.6);
  border-bottom-style: hidden;
  width: fit-content;
  box-shadow: 0 4px 2px -2px gray;
  padding: 0.3rem 0.3rem 0.3rem 0.3rem;
  border-radius: 10px;
  overflow: hidden;
  margin-left: 60px;
}
.mdc-text-field--no-label:not(.mdc-text-field--outlined):not(
    .mdc-text-field--textarea
  )
  .mat-mdc-form-field-infix
  .mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined) {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.mat-mdc-form-field {
  height: 25px;
  font-size: 12px;

  display: inline-flex;
  flex-direction: row;
  padding-left: 1px;
  padding-right: 1px;
}
.mat-mdc-form-field-infix {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
::ng-deep.mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined)
  .mat-mdc-form-field-infix {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

::ng-deep.mat-mdc-form-field-infix {
  flex: auto;
  min-width: 0;
  width: 180px;
  position: relative;
  box-sizing: border-box;
}
::ng-deep.mat-mdc-form-field-infix {
  min-height: 0 !important;
}
::ng-deep.mat-mdc-form-field-subscript-wrapper {
  width: 0 !important;
}
::ng-deep.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  border-radius: 20px;
}
