<div *ngIf="formGroupToShow === 'SouscripForm'">
  <h1 matDialogTitle>Nouveau souscripteur</h1>
  <div mat-dialog-content>
    <div class="form_container">
      <form
        style="display: flex; flex-direction: column"
        [formGroup]="SouscripForm"
      >
        <mat-form-field>
          <mat-label>Raison sociale</mat-label>
          <input
            formControlName="nom_souscript"
            matInput
            placeholder="Raison sociale"
          />
          <mat-icon matSuffix>work</mat-icon>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Adresse</mat-label>
          <input
            formControlName="adresse_souscript"
            matInput
            placeholder="Adresse"
          />
          <mat-icon matSuffix>location_on</mat-icon>
        </mat-form-field>

        <mat-form-field>
          <mat-label>E-mail (1)</mat-label>
          <input
            formControlName="email_souscript_1"
            matInput
            placeholder="E-mail (1)"
          />
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>

        <mat-form-field>
          <mat-label>E-mail (2)</mat-label>
          <input
            formControlName="email_souscript_2"
            matInput
            placeholder="E-mail (2)"
          />
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>

        <mat-form-field>
          <mat-label>E-mail (3)</mat-label>
          <input
            formControlName="email_souscript_3"
            matInput
            placeholder="E-mail (3)"
          />
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Tel (1)</mat-label>
          <input
            formControlName="tel_souscript_1"
            matInput
            placeholder="Tel (1)"
          />
          <mat-icon matSuffix>phone</mat-icon>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Tel (2)</mat-label>
          <input
            formControlName="tel_souscript_2"
            matInput
            placeholder="Tel (2)"
          />
          <mat-icon matSuffix>phone</mat-icon>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Tel (3)</mat-label>
          <input
            formControlName="tel_souscript_3"
            matInput
            placeholder="Tel (3)"
          />
          <mat-icon matSuffix>phone</mat-icon>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Tel (4)</mat-label>
          <input
            formControlName="tel_souscript_4"
            matInput
            placeholder="Tel (4)"
          />
          <mat-icon matSuffix>phone</mat-icon>
        </mat-form-field>
      </form>
    </div>
    <div class="actionDiv" *ngIf="formGroupToShow === 'SouscripForm'">
      <button
        class="actionbtn"
        mat-raised-button
        (click)="souscripSubmit()"
        color="primary"
      >
        Ajouter
      </button>
      <button
        class="actionbtn"
        mat-raised-button
        color="warn"
        (click)="closeDialog()"
      >
        Annuler
      </button>
    </div>
  </div>
</div>
<div *ngIf="formGroupToShow === 'MultiSousForm'">
  <h1 matDialogTitle>Ajout multiple souscripteurs</h1>
  <div mat-dialog-content>
    <div class="form_container">
      <div class="DropZone-btn">
        <ngx-file-drop
          (onFileDrop)="dropped($event)"
          *ngIf="!dataSource || dataSource.length === 0"
          dropZoneLabel="ooooooo Or drop your file her"
          (onFileDrop)="dropped($event)"
          (multiple)="(false)"
        >
        </ngx-file-drop>
        <button
          mat-raised-button
          style="
            position: absolute;
            top: 47%;
            left: 23%;
            transform: translate(-50%, -50%);
          "
          (click)="fileInput.click()"
          *ngIf="!dataSource || dataSource.length === 0"
        >
          <span>Upload</span>
          <input
            #fileInput
            type="file"
            (change)="ReadExcel($event)"
            style="display: none"
          />
        </button>
      </div>
      <div *ngIf="dataSource && dataSource.length > 0">
        <table
          mat-table
          [dataSource]="dataSource"
          mat-table
          class="mat-elevation-z8"
        >
          <ng-container matColumnDef="n">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let element">
              {{ element.n }}
            </td>
          </ng-container>

          <ng-container matColumnDef="nom_souscript">
            <th mat-header-cell *matHeaderCellDef>Raison sociale</th>
            <td mat-cell *matCellDef="let element">
              {{ element.nom_souscript }}
            </td>
          </ng-container>

          <ng-container matColumnDef="adresse_souscript">
            <th mat-header-cell *matHeaderCellDef>Adresse</th>
            <td mat-cell *matCellDef="let element">
              {{ element.adresse_souscript }}
            </td>
          </ng-container>

          <ng-container matColumnDef="email_souscript_1">
            <th mat-header-cell *matHeaderCellDef>Email (1)</th>
            <td mat-cell *matCellDef="let element">
              {{ element.email_souscript_1 }}
            </td>
          </ng-container>

          <ng-container matColumnDef="email_souscript_2">
            <th mat-header-cell *matHeaderCellDef>Email (2)</th>
            <td mat-cell *matCellDef="let element">
              {{ element.email_souscript_2 }}
            </td>
          </ng-container>

          <ng-container matColumnDef="email_souscript_3">
            <th mat-header-cell *matHeaderCellDef>Email (3)</th>
            <td mat-cell *matCellDef="let element">
              {{ element.email_souscript_3 }}
            </td>
          </ng-container>

          <ng-container matColumnDef="tel_souscript_1">
            <th mat-header-cell *matHeaderCellDef>tel (1)</th>
            <td mat-cell *matCellDef="let element">
              {{ element.tel_souscript_1 }}
            </td>
          </ng-container>

          <ng-container matColumnDef="tel_souscript_2">
            <th mat-header-cell *matHeaderCellDef>tel (2)</th>
            <td mat-cell *matCellDef="let element">
              {{ element.tel_souscript_2 }}
            </td>
          </ng-container>
          <ng-container matColumnDef="tel_souscript_3">
            <th mat-header-cell *matHeaderCellDef>tel (3)</th>
            <td mat-cell *matCellDef="let element">
              {{ element.tel_souscript_3 }}
            </td>
          </ng-container>
          <ng-container matColumnDef="tel_souscript_4">
            <th mat-header-cell *matHeaderCellDef>tel (4)</th>
            <td mat-cell *matCellDef="let element">
              {{ element.tel_souscript_4 }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
      <div class="actionDiv">
        <button
          style="margin: 10px 5px 5px 5px"
          class="actionbtn"
          mat-raised-button
          (click)="souscripMultiSubmit()"
          color="primary"
        >
          Ajouter
        </button>
        <button
          style="margin: 10px 5px 5px 5px"
          class="actionbtn"
          mat-raised-button
          color="warn"
          (click)="closeDialog()"
        >
          Annuler
        </button>
      </div>
    </div>
  </div>
</div>
